* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
header {
    padding: 0px 0px 20px 0px;
}
header img {
    float: left;
    height: 60px;
}
header nav {
float:  right;
}
.logoText {
    float: left;
    font-family: 'Oswald';

}
.logoText h1 {
    color: black;
    font-size: 40px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 0em;
    line-height: 1em;
    margin: 0;
    padding-left: 15px;
}
.logoText p {
    padding: 0px;
    color: black;
    margin: 0;
}

footer {
    color: white;
    background-color: black;
}
.clear {
    clear: both;
}
#wrapper {
    padding: 0px 20px 20px 20px;
	color: white;
	text-align:center;
	max-width: 1280px;
	margin: 0 auto;
}