.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // margin-left: -1rem;
  // margin-right: -1rem;
}

.card {
  position: relative;
  width: calc((100% / 3) - 2rem);
  height: rem(200);
  margin: 1rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: 3px solid $text-color;
  // box-shadow: 0 0 2.5rem 0 transparentize(#000, .85);

  &:hover {
    box-shadow: 0 0 5rem 0 transparentize(#000, .75);
    .card__bottom {
      background: transparentize(#000, .25);
    }
  }
}

.card__bottom {
  position: absolute;
  width: 100%;
  height: rem(75);
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparentize(#000, .5);

  transition: $transition;
}

.card__label {
  
  color: $text-color-inverse;

}