.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // margin-left: -1rem;
  // margin-right: -1rem;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  position: relative;
  width: calc((100% / 3) - 2rem);
  height: rem(200);
  margin: 1rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;

  border: 3px solid #000;
  // box-shadow: 0 0 2.5rem 0 transparentize(#000, .85);

  &:hover {
    box-shadow: 0 0 5rem 0 transparentize(#000, .75);
    .card__bottom {
      background: transparentize(#000, .25);
      transform: translateY(0);
    }
  }

  // gradient
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,.05) 0%,rgba(0,0,0,.65) 100%);
  }

  @media (max-width: 767px) {
    width: rem(240, 12);
  }
}

.card__bottom {
  position: absolute;
  width: 100%;
  height: rem(75);
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparentize(#000, .5);

  transform: translateY(100%);

  transition: $transition;

  @media (max-width: 1199px) {
    transform: translateY(0);
  }
}

.card__label {

  color: $text-color-inverse;

}