* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
#game-field {
    background-color: white;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 600px;
}
.card {
    width: calc(20% - 10px);
    height: 150px;
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border-radius: 5px;
    transform: scale(1);
    text-align: center;
    align-content: center;
    background-color: slategrey;
    color: slategray;
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card:hover {
    cursor: pointer;
}

.card.opened {
    background-color: lightgray;
    color: black;
}