body {
        font-family: Arial, Verdana, sans-serif;

}

.box02 {
    color: red;
}

.box03 {
    color:rgb(0,150,0);
}

.box04 {
    color: #425ff4;
    font-weight: bold;
}

.box05 {
    font-size: 18px;
}

.box06 {
    font-size: 24px;
    font-style: italic;
}

.box07 {
   color: white;
   background-color: brown;
}

.paragraph01 {
    text-align: center;
    line-height: 32px;
}

.paragraph02 {
    text-align: justify;
    text-transform: uppercase;
}

.box08 {
    width: 400px;
    height: 300px;
    border: purple solid 1px;
    padding: 30px;
    box-sizing: border-box;
}

.box09 {
    width: 500px;
    height: 200px;
    background-color: red;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    box-sizing: border-box;
}

.box10 {
    display: none;

}

.box11 {
    width: 100%;
    height: 150px;
    background-color: #425ff4;
    padding: 50px;
    border: yellow solid 10px;
    box-sizing: border-box;
}

.box12 {
    visibility: hidden;
}

.box13 {
    width: 200px;
    height: 500px;
    background-color: green;
    opacity: 0.5;
    

}

.box14 {
    width: 400px;
    height: 300px;
    position: relative;
    background-color: lightblue;
}

.box15 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: pink;
    font-size: 6px;
}

.button01 {
    width: 300px;
    height: 100px;
}
.button01:active{
    color: blue;
}

.button02 {
    width: 200px;
    height: 50px;
}

.button02:hover {
    background-color: brown;
}

.box16 {
    width: 200px;
    height: 500px;
    background-color: #425ff4;
    margin-top: 200px;
    border: black solid 1px;
}

.box16:hover {
    cursor: pointer;

}