* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#game-field {
    max-width:1000px;
    height: auto;
    margin:0 auto;
    display: flex;
    flex-wrap:wrap;
}

.card {
display:flex;
min-height: 100px;
height: 25%;
width:20%;
background-color: aquamarine;
align-items: center;
justify-content: center;
margin:10px;
border-radius: 10px;
color:aquamarine;
}

.card:hover {
 background-color: rgb(0, 196, 130);
 color:rgb(0, 196, 130);
}

.card.revealed {
background-color:rgb(253, 80, 80);
color:black;
}