*{
    text-align: center;
    justify-content: center;
}
  
  #secret {
    font-size: 2em;
    justify-content: center;
  }

  #tip {
    width: 50px;
    text-align: center;
    font-size: 1.5em;
  }