@import "settings.variables";
@import "tools.mixins";

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    height: $headerHeight;
    color: $brandColor;
    padding: $defaultPadding;
    z-index: 2;

    @include mq("tablet-small") {
        flex-direction: row;
        padding: 0 $defaultPadding;
    }
}

.nav__item {
    transition: 0.2s
}

.nav__item--active {
    text-decoration: underline;
}

.nav:hover .nav__item:not(:hover) {
    opacity: 0.5;
}

.nav__item:not(:last-child) {
    margin-right: 0.5em;
}

.main {
    padding: 0 $defaultPadding;
}

.footer {
    padding: $defaultPadding/2 $defaultPadding;
    border-top: 1px solid $gray;
}

.button {
    size: 1.1rem;
    padding: 1em;
    background-color: $contraColor;
    color: $gray;
    cursor: pointer;

    @include box-shadow;
}

.button:hover {
    background-color: $contraColorDark;
}