p {
    font-size: 30px;
    font-family: sans-serif;
    color: #93ebee;
    text-align: center;
} 

body {
    background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
} 

.box {
    text-align: justify;
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    padding: 20px;
    border: solid;
    border-radius: 30px;
    border-color: #93ebee;

    box-sizing: border-box;

    display: block;
    opacity: 0.5; 
}

.box-2 {
    text-align: justify;
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    padding: 20px;
    border: solid;
    border-radius: 30px;
    border-color: #93ebee;

    box-sizing: border-box;

    display: block;
    opacity: 1;
    position: fixed;
    top: 200px;
    right: 500px;
    /* bottom:
    left: */
}

button:hover {
    color: royalblue;
}

button:active {
    color: grey;
}

