#bluebold{
   color:#6688ff;
   font-weight:bold;
}

.quote{
font-size:24px;
font-style:italic;

}

.western{
   overflow: hidden;
   color:white;
   background-color:chocolate;


}

.centered{
   text-align: center;
   line-height: 32px;

}

.justified{
   text-align: justify;
   text-transform:  uppercase;

}

.box-01{
width: 400px;
height:300px;
border: solid 1px purple;
padding:30px;

}

.box-02{
   width: 500px;
   height:200px;
   margin:100px;
   background-color:mediumvioletred;

}

.box-03{
   overflow:hidden;
   width:100%;
   height:150px;
   background-color:mediumslateblue;
   padding:50px;
   border: solid 10px gold;
   box-sizing: border-box;

}

.box-04{
   background-color:mediumaquamarine;
width:200px;
height:500px;
opacity:0.5;

}

#transparent_no_gap{
font-size:0%;

}

#transparent_gap{
opacity: 0;

}

.relative_box{
   position: relative;
   background-color:lightblue;
   width:400px;
   height:300px;

}


.absolute_box{
position: absolute;
width: 50px;
height:50px;
background-color:lightpink;
top:50px;
right:10px;
overflow:hidden;
}

#clickbutton{
width:300px;
height:100px;
}
#clickbutton:active{
color:cornflowerblue;

   }

#hoverbutton{
   width:200px;
   height:50px;


}

#hoverbutton:hover{
 background-color:wheat;

}

.cursorbox{
width:200px;
height:500px;
background-color:steelblue;



}
.cursorbox:hover{
cursor:grab
}


   
   



