.photo{   
    float: left;
}

img {
    margin-left: 50px; 
    border:5px solid #000000;
 }

 .name{
     margin-left: 100px;
     float: left;
 }

 .adress{
    margin-top: 40px;
    margin-bottom: 200px;
    margin-left: 1000px;

 }

 .p-name{
    font-size: 50px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .p-surname{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }

 h1{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 40px;
     text-transform: uppercase;
     margin-left: 100px;
 }

 h2{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 100px;
 }

 h3{
    margin-left: 100px;
 }

 .main{
    text-align: justify;
    margin-left: 100px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

 }

 .left{
     position: absolute;
     margin-left: 100px;
     margin-top: 0px;
 }

 .right{
    margin-left: 1000px;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
 }
