@import 'generic.normalize.scss';

$black: #212121;
$white: #FAFAFA;
$background: #ECEFF1;

body {
  background-color: $background;
  color: $black;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 2rem;
}

a {
  text-decoration: none;
  border-radius: 20px;
}

.input {
  border: none;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
}

.button {
  background-color: #1db954;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: $white;

  &:hover {
    transform: scale(1.1);
  }
}

.nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 4rem;
  background-color: $background;
}

.main {
  text-align: center;
}

.img {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

.tracks h2{
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0;
  padding: 1.25rem;
  display:inline-block; 
}

.track {
  position: relative;
  display: flex;
  align-items: center;
  height: calc(100px + 2rem);
  padding: 1rem;

  &:hover {
    background-color: #616161
  }
}

.track__img {
  height: 100px;
  width: 100px;
}

.track__info {
  position: relative;
  margin-right: 1rem
}

.track__danceability {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(#000, 0.5);
  padding: 0.5rem;
  color: $white
}

.track__preview {
  margin-left: auto;
}

.status {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.5rem;
  line-height: 1.125;
  background: $white;
  border-radius: 2px;
  text-align: left;
  border-left: 5px solid #1d7fb9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18)
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 3rem;
}

.result {
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  user-select: none;

  :hover {
    text-decoration: underline;
  }
}

.result__imgContainer {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  height: 180px;
  width: 180px;

  &>img {
    z-index: -2;
    position: relative;
  }

}
