* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
#game-field {
    display:flex;
    max-width: 100%;
    flex-wrap: wrap;

}
.card {
    width:20%;
    height:auto;
    margin:10px;
    border: solid 2px grey;
    padding:30px;
    text-align: center;
    vertical-align: middle;
    color:transparent;

}
.card:hover {
    background-color:
}
.card.revealed {
    background-color:lightgoldenrodyellow;
    color:black;
   
}