
html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

// rem responsive
html {
  font-size: $font-size-base * 1px;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

body {
  font-family: $font-family-base;
  font-size: 1rem;
  font-weight: 300;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $bg-body;
}

* {
  box-sizing: border-box;
}

// transition little move issue
// https://stackoverflow.com/questions/12980153/image-moves-on-hover-chrome-opacity-issue
*, *:before, *:after {
  &:not(img) {
    backface-visibility: hidden;
  }
}