.footer {
  background: $secondary-color;
  padding: 3rem 0 3rem;

  * {
    color: $text-color-inverse;
  }
}

.footer__nav {
  text-align: center;
}

.footer__copyright {
  color: $text-color-inverse;
  text-align: center;
}
