.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(80);
  background: $bg-body;
  box-shadow: 0 0 1rem 0 transparentize(#000, .85);

  display: flex;
  align-items: center;

  z-index: 10;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__name {
  display: flex;
  align-items: center;
}

.header__logo {
  width: rem(44);
  margin-right: 1rem;
}

.header__title {
  @media (max-width: 567px) {
    display: none;
  }
}
