.main {
  display: flex;
  box-shadow: 0 0 10rem 0 transparentize(#000000, .95);
  // min-height: 100vh;
  padding: 0;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.main__content {
  flex: 3;
}

.main__side {
  flex: 1;
  background: #eee;

  padding: 6rem 2rem;
}