p {
    font-size: 80px;
}
.inner-container{
    height: 0.5em;
    width: 0.5em;
    background-color: blue;
}
.container {
    color: rgb(0,0,0);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(139, 250, 250);
}
#my-div {
 font-size: 15px;
 text-align: justify;
 text-indent: 200px;
 line-height: 50px;
 background-image: url(https://img.cncenter.cz/img/18/new_article/2509468-img-pocasi-v10.jpg?v=10);
 background-size: 300px;
 background-repeat: no-repeat;
}

.padding-example{
    height: 500px;
    width:200px;
    background-color: black;
    /*padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;*/
    padding: 20px 10px 5px 2px;

    border-top: 20px solid rgb(214, 22, 22);
    border-right: 20px solid rgb(16, 167, 66);
    border-bottom: 20px solid rgb(51, 18, 241);
    border-left: 20px solid rgb(41, 182, 224);

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

body{
    font-family: Arial;
}