html, body, #map_canvas, #map_container { 
  width: 100%; 
  height: 100%; 
  margin: 0px; 
  padding: 0px; 
}
.floatButton {
  text-align: center;
  width: 150px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index:100;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}