h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(71, 6, 97);
    font-size: 50px;
    text-align: center;
}

h2 {

    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    
}


.navigation {
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(240, 248, 255, 0.568);
}

li {
    list-style: none;

}

li a {
    float: left;
    display: block;
    color: rgb(29, 198, 204);
    text-align: center;
    padding: 8px 200px;
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 8px;
}

li a:hover {
    color: rgb(59, 5, 109);
}

#cv_title {
    font-size: 30px;
    color:  rgb(71, 6, 97);
    text-align: unset;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/27/23/11/background-2687925_960_720.jpg);
    background-size: cover;
}

.pictures {
    float: left;
    width: 25%;
    height: 300px;
    width: 200px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Oscar_Wilde_portrait_by_Napoleon_Sarony_-_albumen.jpg/200px-Oscar_Wilde_portrait_by_Napoleon_Sarony_-_albumen.jpg);
    padding: 10px;

    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;

    margin-top: 15px;
    margin-right: 15px;
}

h3 {
    font-size: 30px;
    color:  rgb(71, 6, 97);
    text-align: center;
    
}

h4 {
    font-size: 24px;
    color:  rgb(71, 6, 97);
    text-align: center;
   
}

.work {
   float: left;
   
}

.poetry {
    display: block;
    float: left;
    width: 350px;
    height: 200px;
    background-color: rgba(240, 248, 255, 0.568);
    color: rgb(29, 198, 204);
    font-size: 24px;
    margin: 50px;
    margin-right: 100px;
    padding: 5px;
    text-align: left;  
}

.drama {
    display: block;
    float: left;
    width: 350px;
    height: 200px;
    background-color: rgba(240, 248, 255, 0.568);
    color: rgb(29, 198, 204);
    font-size: 24px;
    margin: 50px;
    margin-right: 100px;
    padding: 5px;
    text-align: left;  
}

.prose {
    display: block;
    float: left;
    width: 350px;
    height: 200px;
    background-color: rgba(240, 248, 255, 0.568);
    color: rgb(29, 198, 204);
    font-size: 24px;
    margin: 50px;
    padding: 5px;
    text-align: left;  
}

.quotes {

    margin-top: 50px;
    transform: translateY(-50px);
    font-size: 40px;
    float: left;
    text-align: center;
    color: rgb(34, 100, 224);
    width: calc(100% - 50px);
}

.he_said {
    font-size: 35px;
    display: inline-block;
    color: rgb(231, 58, 116);
}

span
{
    overflow: hidden;
    display: block;
    text-align: center;
    animation: animate 20s linear infinite;
    opacity: 0;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: translateY(-50px);
        
    }
    5%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    18%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    20%
    {
        opacity: 0;
        transform: translateY(50px);
    }
    100%
    {
        opacity: 0;
        transform: translateY(50px);
    }
   
}

.he_said span:nth-last-child(1)
{
    animation-delay: 0s;
}

.he_said span:nth-last-child(2)
{
    animation-delay: 5s;
}

.he_said span:nth-last-child(3)
{
    animation-delay: 10s;
}


.he_said span:nth-last-child(4)
{
    animation-delay: 15s;
}


.he_said span:nth-last-child(5)
{
    animation-delay: 18s;
}
