.spinner {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 40px solid grey;
    border-top: 40px solid cadetblue;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}