.btn, button {

  display: inline-block;

  height: em(50);
  line-height: em(48);
  padding: 0 em(30);

  text-align: center;

  background: $bg-dark;
  color: $text-color-inverse !important;

  border: 0;
  box-shadow: 0;
  outline: 0;

  overflow: hidden;
  white-space: nowrap;

  transition: $transition;
  cursor: pointer;
}