img {
}

figure {
  text-align: center;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 3rem;

  img {
    width: 100%;
    max-width: rem(720);
    opacity: .75;
    transition: $transition;
  }

  &:hover {
    img {
      opacity: 1;
    }
  }

  @media (max-width: 1199px) {
    img {
      opacity: 1;
    }
  }
}

figcaption {
  @extend .text--small;
  @extend .text--italic;
}