.table {

  min-width: rem(540);
  margin: 2rem auto 3rem;
  border-collapse: collapse;

  th {
    font-weight: 400;
  }

  th, td {
    text-align: left;
    padding: .5em 1em;
    border-bottom: 1px solid #eee;
  }

  thead {
    th {
      @extend .text--large;
      @extend .text--uppercase;

      font-weight: 500;
      border-width: 2px;
      border-color: #ddd;

    }
  }

  tbody {

    th {
      width: 12rem;
    }

    tr {
      &:last-child {
        th, td {
          border: none;
        }
      }

      &:hover {
        th, td {
          background: #f5f5f5;
        }
      }
    }
  }

  @media (max-width: 576px) {
    width: 100%;
    min-width: auto;

    tbody {
      th {
        width: auto;
      }
    }
  }
}