h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @extend .text--thin;
  text-align: center;
  margin: 0;
}

h1, .h1 {
  font-size: $h1-font-size;
}

h2, .h2 {
  font-size: $h2-font-size;
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

p, .text {
  font-size: $font-size-base * 1px;
  margin-bottom: 2rem;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--italic {
  font-style: italic;
}

.text--perex {
  position: relative;
  text-align: center;
  padding-bottom: 2rem;

  // line bottom
  &:before {
    content: '';
    width: rem(100);
    height: rem(5);

    background: $bg-dark;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.text--thin {
  font-weight: 100;
}

.text--light {
  font-weight: 300;
}

.text--normal {
  text-transform: none;
  font-weight: 400;
}

.text--medium {
  font-weight: 500;
}

.text--semibold {
  font-weight: 600;
}

.text--bold {
  font-weight: 700;
}

strong {
  font-weight: 900;
}

.text--small, small {
  font-size: rem(12);
}

.text--semi-small {
  font-size: rem(14);
}

.text--semi-large {
  font-size: rem(18)
}

.text--large {
  font-size: rem(20);
}