* {
    box-sizing: border-box;
}
body {
    font-family:Arial;
}
.box-02 {
    color: red;
}
.box-03 {
    color:rgb(43, 196, 29);
}
.box-04 {
    color:#345b93;
    font-weight: bold;
}
.box-05 {
    font-size: 18px;
}
.box-06 {
    font-size: 24px;
    font-style: italic;
}
.box-07 {
    color: white;
    background-color: brown;
}
.box-08 {
    text-align: center;
    line-height: 32px;
}

.box-09 {
    text-align: justify;
    text-transform: uppercase;
}
.box-10 {
    width: 400px;
    height: 300px;
    border: solid 1px purple;
    padding: 30px;
}
.box-11 {
    width:500px;
    height:200px;
    background-color:red;
    margin: 100px;
}
.box-12 {
    display: none;
}
.box-13 {
    width:100%;
    height:150px;
    background-color: blue;
    padding:50px;
    border: solid 10px yellow;
}
.box-14 {
    visibility: hidden;
}
.box-15 {
    width: 200px;
    height: 500px;
    background-color: green;
    opacity: 0.5;
}
.box-16 {
    width:400px;
    height:300px;
    position:relative;
    background-color: rgb(87, 78, 219);
}
.box-16 div {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: pink;
}
.button-01 {
    width: 300px;
    height: 100px;
}
.button-01:active {
    color:blue;
}
.button-02 {
    width:200px;
    height:50px;
}
.button-02:hover {
    background-color:brown;
}
.box-17 {
    width:200px;
    height:500px;
    background-color:blue;
    margin-top:200px;
    cursor:pointer;
}
