* {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

#p-red{
    color: red;
}

#p-green{
    color: rgb(0,255,0);
}

#p-blue-bold {
    color: blue;
    font-weight: bold;
}

#p-size {
    font-size: 18px;
}

#p-italic {
    font-size: 24px;
    font-style: italic;
}

#p-white {
    background-color: brown;
    color: white;
}

#p-centered {
    text-align: center;
    line-height: 32px;
}

#p-justified {
    text-align: justify;
    text-transform: uppercase;
}

#boxOne {
    width: 400px;
    height: 300px;
    border: 1px brown solid;
    padding: 30px;
}

#boxTwo {
    width: 500px;
    height: 200px;
    margin: 100px;
    background-color: red;
}

#hidden {
    color: transparent;
}

#boxThree {
    width: 100%;
    background-color: blue;
    margin: 50px;
    border: yellow 10px;

}