* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
hr {
    border-style: solid;
    border-color: #eee;
}
#game-field {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
}
.card {
    background-color: #e66465;
    color: transparent;
    border: 10px solid white;
    width: 20%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color .5s ease;
}
.card:hover {
    background-color: #a7312d;
}

.card.revealed {
    background: cadetblue;
    color: white;
}