body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(211, 210, 210);
}

.name {
    text-align: center;
    color: black;
    background-color: rgb(175, 175, 175);
    font-size: 20px;
    padding: 25px;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    height: 10x;
    width: 250px;
    border: grey solid 2px;
    padding: 10px;
    color: black;
    background-color: rgb(221, 221, 221);
}

h3 {
    position: relative;
    left: 20px;
}

p {
    color: rgb(53, 53, 53);
}

ul {
    list-style: none
}