* {
    box-sizing: border-box;
}
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  .page > * {
    display: flex;
    justify-content: center;
}
  a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
  header {
    align-items: center;
    font-size: 42px;
    background-image: url("../img/backgroundHeaderWood.jpg");
    color: lightblue;
    font-family: 'PT Sans Narrow', sans-serif;
    height: 175px;
    border-bottom: 5px solid black;
}
   .row-menu{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 18px;
  }
  .row-menu a{
    color:black;
    text-decoration: none;
  }
   .menu1 {
    position: relative;
    background-color: rgb(240, 128, 128);
    width:20%;
    height: 50px;
    border-bottom: 5px solid blue;
  }
  .menu1Alt {
    position: relative;
    background-color: hsl(0, 79%, 30%);
    color: white;
    width:20%;
    height: 50px;
    border-bottom: 5px solid blue;
  }
  .menu1:hover{
    background-color: hsl(0, 79%, 30%);
  }
  .menu1:hover a{
    color:black;
    text-decoration: underline;
    background-color: hsl(0, 79%, 30%);
  }
  .menu2 {
    position: relative;
    background-color: rgb(0, 0, 255);
    width:20%;
    height: 50px;
    border-bottom: 5px solid yellow;
  }
  .menu2Alt {
    position: relative;
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    width:20%;
    height: 50px;
    border-bottom: 5px solid yellow;
  }
  .menu2:hover{
    color:black;
    text-decoration: underline;
    background-color: rgba(0, 0, 255, 0.5);
  }
  .menu2:hover a{
    color:black;
    text-decoration: underline;
  }
  .menu3 {
    position: relative;
    background-color: rgb(211, 211, 211);
    width:20%;
    height: 50px;
    border-bottom: 5px solid brown;
  }
  .menu3Alt {
    position: relative;
    background-color: rgba(211, 211, 211, 0.5);
    color: white;
    width:20%;
    height: 50px;
    border-bottom: 5px solid brown;
  }
  .menu3:hover{
    color:black;
    text-decoration: underline;
    background-color: rgba(211, 211, 211, 0.5);
  }
  .menu3:hover a{
    color:black;
    text-decoration: underline;
  }
  .menu4 {
    position: relative;
    background-color: rgb(144, 238, 144);
    width:20%;
    height: 50px;
    border-bottom: 5px solid gray;
  }
  .menu4Alt {
    position: relative;
    background-color: rgba(144, 238, 144, 0.5);
    color: white;
    width:20%;
    height: 50px;
    border-bottom: 5px solid gray;
  }
  .menu4:hover{
    color:black;
    text-decoration: underline;
    background-color: rgba(144, 238, 144, 0.5);
  }
  .menu4:hover a{
    color:black;
    text-decoration: underline;
  }
  .menu5 {
    position: relative;
    background-color: rgb(255, 255, 224);
    width:20%;
    height: 50px;
    border-bottom: 5px solid green;
  }
  .menu5Alt {
    position: relative;
    background-color: rgba(255, 255, 224, 0.5);
    color: white;
    width:20%;
    height: 50px;
    border-bottom: 5px solid green;
  }
  .menu5:hover{
    color:black;
    text-decoration: underline;
    background-color: rgba(255, 255, 224, 0.5);
  }
  .menu5:hover a{
    color:black;
    text-decoration: underline;
  }
  .main-content {
    background-color: green;
    width:80%;
    height: 950px;
}
  .side-bar {
    background-color: pink;
    width:20%;
}
  footer {
    background-color: black;
    color: white;
    align-items: center;
    height: 75px;
    font-weight: bold;
    border-top: 5px solid red;
}
  .row-menu, .row-1 {
    display: flex;
    max-width: 85%;
    margin: 0 auto;
}
  .row-menu > div, .row-1 > div {
    display: flex;
    justify-content: center;
    align-items: center;
}