#movies img, #movie img {
    height: 100%;
    border: 10px solid #f7f7f9;
    border-radius: 0.25rem;
}

#movies img:hover {
    transition: border 250ms linear,
                color 250ms linear;
    border: 6px solid #919aa1;
}

#movies .col-md-3 .well {
    height: 450px;
}

#movies .col-md-3 img {
    height: 260px;
}

#searchForm {
    border: 1px solid #919aa1;
}
