#movies img, #movie img {
    width: 100%;
    border: 10px solid #f7f7f9;
    border-radius: 0.25rem;
}

#movies img:hover {
    transition: border 250ms linear,
                color 250ms linear;
    border: 6px solid #919aa1;
}

@media(min-width:960px){
    #movies .col-md-3 .well{
      height: 550px;
    }
  
    #movies .col-md-3 img{
      height: 350px;
    }
  }

#searchForm {
    border: 1px solid #919aa1;
}

#loader {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
