*{
    box-sizing: border-box;
}
.clear{
    clear: both;
}
ul {
    list-style: none;
}
body, body a{
    font-family: 'Open Sans', sans-serif;
    color: black;
}
header{
    display: flex;
    height: 60px;
}
.logo{
    max-height: 30px;
    /* height: 50%; */
    padding-left: 10px;
    padding-top: 10px;
}
.logo_href{
    width: 110px;
}
nav li {
    display: block;
    float: left;
    padding: 0 5px;
    font-size: 12px;
    margin-bottom: 20px;
}
nav {
    margin-left: auto;
    margin-right: 10px;
}
nav a, nav li:hover {
    text-decoration: none;
    padding-top: 5px;
}
nav li:hover, .navi_actual {
    border-top: 2px solid rgb(59, 76, 224);
}
main{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 10px;
    border-top: 1px rgb(48, 47, 47) solid;
    border-bottom: 1px rgb(48, 47, 47) solid;
}
main h1{
    margin-bottom: 20px;
    font-size: 20px
}
.brand{
    float: left;    
    padding: 20px;
    width: 50%;
}
main ul{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
img{
    height: 70px;
}
.brand:hover{
    background-color: #EFEFEF;
    border-radius: 15%;
}
img:hover{    
    transform: scale(1.1,1.1);
    transition: 0.5s transform;
}
p{
    line-height: 15px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 12px;
}
h2{
    background-color: rgba(177, 177, 177, 0.639);
    border-radius: 50%;
    font-size: 15px;
}
h3{
    text-align: left;
    padding-left: 100px;
    text-decoration: underline;
    background-color: #EFEFEF;
    border-radius: 50%;
    font-size: 14px;
}
h4{
    text-align: left;
    padding-left: 50px;
    font-size: 13px;
}
iframe{
    max-width: 750px; 
    width: 100%;
    min-height: 400px;
    height: 100%;
    border: 0;
    /* visibility: visible; */
    display: block;
    margin: 0 auto;
}
footer{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    /* background-color: rgb(62, 111, 167); */
}
.footer_text_2{
    margin-top: 10px;
    margin-bottom: 10px; 
    font-size: 12px;
}

@media screen and (min-width: 660px) {
    .brand{
        width: calc(100% / 3);
    }
    .logo_href{
        width: 150px;
    }
    .logo{
        max-height: 45px;
    }
    nav li {
        font-size: 18px;
    }
    img{
        height: 150px;
    }
    main h1{
        font-size: 30px;
        margin-bottom: 30px;
    }
    p{
        line-height: 20px;
        margin-left: 60px;
        margin-right: 60px;
        font-size: 16px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        padding-left: 100px;
        font-size: 16px;
    }
    h4{
        padding-left: 150px;
        font-size: 14px;
    }
    footer{
        font-size: 20px;
    }
    .footer_text_2{
        font-size: 16px;
    }
}
@media screen and (min-width: 1100px) {
    .brand{
        width: 25%;
    }
    .logo_href{
        width: 180px;
    }
    .logo{
        max-height: 50px;
    }
    nav li {
        font-size: 24px;
    }
    img{
        height: 170px;
    }
    main h1{
        margin-bottom: 50px;
        font-size: 40px
    }
    p{
        line-height: 30px;
        margin-left: 130px;
        margin-right: 130px;
        font-size: 20px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 24px;
        padding-left: 100px;
    }
    h4{
        padding-left: 150px;
        font-size: 20px;
    }
    footer{
        font-size: 26px;
    }
    .footer_text_2{
        font-size: 20px;
    }
}
@media screen and (min-width: 1500px) {
    .brand{
        width: 20%;
    }
    .logo_href{
        width: 200px;
    }
    .logo{
        max-height: 55px;
    }
    nav li {
        font-size: 28px;
        padding-left: 15px;
    }
    img{
        height: 250px;
    }
    main h1{
        margin-bottom: 50px;
        font-size: 45px
    }
    main ul{
        max-width: 1450px;
    }
    p{
        line-height: 30px;
        margin-left: 130px;
        margin-right: 130px;
        font-size: 20px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 24px;
        padding-left: 100px;
    }
    h4{
        padding-left: 150px;
        font-size: 20px;
    }
    footer{
        font-size: 26px;
    }
    .footer_text_2{
        font-size: 20px;
    }
}
@media print{
    img{
        visibility: hidden;
        /* display: none; */
    }
    iframe{
        /* visibility: hidden; */
        display: none;
    }
}