* {
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Helvetica, Sans-Serif;
}

body {
    font-family: Helvetica, Sans-Serif;
    text-align: center;
    background-color: rgb(52, 152, 219);
}

main {
    min-height: 100vh;
}

hr {
    border-style: solid;
    border-color: #eee;
}
button, .btn, a.btn {
    background-color: rgb(52, 152, 219);
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    margin-top: 10px;
}

#latest_container {
    margin: 0 auto;
    text-align: center;
    margin-left: 30%;
}

#first_container {
    margin: 0 auto;
    text-align: center;
    margin-left: 30%;
}

#profile_image {
    margin: 0 auto;
}

#latestdirected_container {
    margin: 0 auto;
    text-align: center;
    margin-left: 30%;
}

footer {
    background-color: rgb(52, 152, 219);
    padding: 20px 0;
    font-weight: bold;
}

#basictable {
    margin: auto;
    text-align: left;
}

#app {
    background-color: rgb(253, 253, 253);
    margin-right: 25%;
    margin-left: 25%;
}
#twitterLogo{
    position: relative;
    margin-top: 10px;
}
h1{
    margin-left: 50px;
}