* {
    box-sizing: border-box;
    border-radius: 3px;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: lightblue;
}

main {
    min-height: 100vh;
}

hr {
    border-style: solid;
    border-color: #eee;
}

button, .btn, a.btn {
    background-color: blue;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
}

#latest_container {
    margin: 0 auto;
    text-align: center;
    margin-left: 30%;
}

footer {
    background-color: cadetblue;
    padding: 20px 0;
}