
 #rowDiv{
   margin: auto;
   text-align: center;
   width: 30%;
 } 

 #show{
   margin: auto;
   text-align: center;
 }

 .footer{
   color: black;
   width: 100%;
   height: 82px;
   background-color: rgb(24, 166, 231);
 }