* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

body {
    background-color: rgb(117,116,115);
    max-width: 900px;
    margin: auto;
}

main {
    background-color: white;
    color: rgba(58,58,58,0.83);
}

.clear {
    clear: both;
}

.navigation {
    position: relative;
    width: 100%;
    height: 280px;;
}

.label {
    position: absolute;
    text-align: center;
    width: 90px;
    height: 80px;
    border: 3px solid white;
    border-top-width: 0;
    left: 15%;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -3px;
}

.navigation ul {
    position: absolute;
    top: 100px;
    width: inherit;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.nav_li {
    width: inherit;
    height: 40px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid white;
    padding: 8px 0;
    letter-spacing: -1px;
}

h1 {
    position: relative;
    width: 300px;
    height: 80px;
    left: calc(50% - 150px);
    text-align: center;
    padding: 30px 0;
    border-bottom: 3px solid rgba(117,116,115,1);
}

h2 {
    width: 400px;
    height: 60px;
    text-align: center;
    padding: 25px;
    margin: auto;
}

a {
    text-align: center;
    text-decoration: none;
    color: white;
}

footer {
    height: 200%;
    color: white;
    text-align: center;
    padding: 20px;
}


main ul {
    padding: 0;
}

img {
    width: 280px;
    margin: 10px;
}

.pics-position {
    text-align: center;
}

p {
    width: 80%;
    text-align: center;
    margin: auto;
}

@media screen and (min-width: 720px){
    .navigation {
        height: 200px;
    }

    .navigation ul {
        top: 120px;
        max-width: 900px;
        left: calc(50% - 450px);
    }
    .nav_li {
        float: left;
        width: 25%;
        height: 60px;
    }

    .active {
        font-size: 25px;
        padding: 5px 20px 20px 20px;
        border-bottom: 10px solid white;
    }

    .product {
        width: 50%;
        margin: 0;
        padding: 0;
        float: left;
    }
}

@media print {
    .navigation ul {
        display: none;
    }
    nav {
        height: 150px;
        background-color: rgb(117,116,115);
    }

    img {
        width: 230px;
    }

    h2 {
        page-break-after: revert;
    }

    .page-break {
        page-break-after: always;
    }
}
