* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

body {
    background-color: rgb(117, 116, 115);
    max-width: 900px;
    margin: auto;
}

main {
    background-color: white;
    color: rgba(58, 58, 58, 0.83);
}

.clear {
    clear: both;
}

.navigation {
    position: relative;
    width: 100%;
    height: 280px;
}

.label {
    position: absolute;
    text-align: center;
    width: 90px;
    height: 80px;
    border: 3px solid white;
    border-top-width: 0;
    left: 15%;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -3px;
}

.navigation ul {
    position: absolute;
    top: 100px;
    width: inherit;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.nav_li {
    width: inherit;
    height: 40px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid white;
    padding: 8px 0;
    letter-spacing: -1px;
}

.active {
    font-size: 25px;
    padding: 8px 0;
    border-bottom: 7px solid white;
}

h1 {
    position: absolute;
    width: 300px;
    height: 80px;
    left: calc(50% - 150px);
    text-align: center;
    padding: 30px 0;
    border-bottom: 3px solid rgba(117, 116, 115, 0.83);
}

.heading-one {
    position: relative;
    width: 100%;
    height: 100px;
}

a {
    text-align: center;
    text-decoration: none;
    color: white;
}

main ul {
    padding: 0;
}

.product {
    width: 100%;
    margin: 40px 0;
}

.product h2 {
    width: 400px;
    height: 60px;
    text-align: center;
    padding: 25px;
    margin: auto;
}

.product img {
    width: 400px;
    position: relative;
    left: calc(50% - 200px);
}

.product p {
    margin: auto;
    width: 400px;
    height: 100%;
    padding: 7px 0;
    text-align: center;
}

footer {
    height: 200%;
    color: white;
    text-align: center;
    padding: 20px;
}

@media screen and (min-width: 720px) {
    .navigation {
        height: 200px;
    }

    .navigation ul {
        top: 120px;
        max-width: 900px;
        left: calc(50% - 450px);
    }

    .nav_li {
        float: left;
        width: 25%;
        height: 60px;
    }

    .active {
        font-size: 25px;
        padding: 5px 20px 20px 20px;
        border-bottom: 10px solid white;
    }

    .product {
        width: 50%;
        margin: 0;
        padding: 0;
        float: left;
        margin-top: 40px;
    }
}


@media print {
    .navigation ul {
        display: none;
    }

    nav {
        background-color: rgb(117, 116, 115);
        height: 150px;
    }
}