.form-share{
    max-width: 400px;
    margin: 0 auto;
}

#motto{
    font-size: 12px;
    margin-top: -10px;
    color:rgb(131, 131, 131);

}

.form-check{
    padding-bottom: 15px;
}

#fbLoginButton{
    margin: 10px auto 10px auto;
}

#fbStatus{
    margin: 0 auto;
}

.groupCheckBox{
    margin-top: 7px;
    margin-right: 10px;
}

#checkBoxContainer{
    margin:20px;
}

#shareBtn{
    display: none;
}

#checkBoxForm{
    display:grid;
    grid-template-columns: 5% 1fr;
}

#formHeading{
    display: none;
    font-weight: 600;
    margin-bottom: 10px;
}