.form-share{
    max-width: 400px;
    margin: 0 auto;
}

#motto{
    font-size: 12px;
    margin-top: -10px;
    color:rgb(131, 131, 131);

}

.form-check{
    padding-bottom: 15px;
}

#fbLoginButton{
    margin: 10px auto 10px auto;
}

#fbStatus{
    margin: 0 auto;
}

.groupCheckBox{
    margin-top: 7px;
    margin-right: 10px;
}

#checkBoxContainer{
    margin:20px;
}

#shareBtn{
    display: none;
}

#checkBoxForm{
    display:grid;
    grid-template-columns: 5% 1fr;
}

#formHeading{
    display: none;
    font-weight: 600;
    margin-bottom: 10px;
}

#loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.3s linear infinite;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #checkValidityBtn{
    display: none;
  }