* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.contet {
    width: 400px;
    margin: 0 auto;
}

#cover {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.75);
}