/** {
	 outline: 1px solid red;
}*/

a {
	text-decoration: none;
	color: #374659;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.top {
	background: url(img/top.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 38vw;
}

.menu {
	z-index:9999;
	background: #ffffff;
	width: 100%;
	height: 200px;
	background-size: cover;
	text-align: center;
	padding-top: 30px;
	box-shadow: 0px 0px 56px -25px rgba(0,0,0,1);
}

.menu h1 {
	color: #374659;
	font-size: 3em;
	font-weight: 700;
	letter-spacing: 15px;
}

.redO {
	color: red;
}

.Umenu {
	background: url(img/UM.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	width: auto;
	height: 30vw;
}

.divider {
	background: url(img/arches.png);
	width: 100%;
	height: 125px;
	text-align: center;
	padding-top: 25px;
	-webkit-animation: move-footer 25s infinite linear;
}

.divider h1 {
	color: #374659;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: bold;
}

.about {
	position: relative;
	background-color: #f9fafc;
	padding-bottom: 50px;
	overflow: auto;
}

.about img {
	vertical-align: top;
	width: 100%;
	transition: .5s;
}


.about:hover img{
	filter: blur(15px);
}

.text {
	position: absolute;
	box-sizing: content-box;
	text-align: justify;
	margin-left: 50px;
	margin-right: 50px;
	top: 15%;
}

.text p {
	color: #374659;
	font-size: 1.7em;
	font-weight: normal;
	letter-spacing: 3px;
	transition: .5s;
	line-height: 1.5;
	transform: scale(0);
	opacity: 0;
}

.about:hover .text p {
	transform: scale(1);
	opacity: 1;
} 

.GGizmo {
	background-color: #eaeaea;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}

.GGizmo img {
	padding-top: 20px;
	max-width: 100%;
}

.WGizmo {
	background-color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}

.WGizmo img {
	padding-top: 20px;
	max-width: 100%;
}

.dName {
	color: #374659;
	font-size: 5em;
	font-weight: normal;
	letter-spacing: 10px;
	margin-bottom: -10px;
}

.dDesc {
	color: #374659;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.dRef {
	color: #374659;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: -10px;
}

.oldPrice {
	text-decoration: line-through;
}

.newPrice {
	font-weight: lighter;
	font-size: 150%;
	color: red;
}

.SUP {
	position: relative;
	boxing-size: content-box;
	background: url(img/dolphin.jpg);
	text-align: center;
	width: 100%;
	height: 721px;
	background-size: cover;
}

.boxSupp {
	color: #eaeaea;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	overflow: auto;
}

.boxSupp h1 {
	margin: 0;
	padding-top: 100px;
	align: center;
	font-size: 3em;
	font-weight: normal;
	letter-spacing: 3px;
	padding-bottom: 100px;
}


.boxSupp p {
	font-size: 1.5em;
	letter-spacing: 2px;
	font-weight: normal;
}

.Contacts {
	background-color: #eaeaea;
	text-align: center;
	padding-top: 20px;
}

.boxContacts {
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 100px;
}

.boxContacts img {
	width: 81px;
}

.boxContacts h1 {
	color: #374659;
	font-weight: bold;
	font-size: 4em;
	font-weight: normal;
	letter-spacing: 2px;
	margin-bottom: -50px;
}

.boxContacts h2 {
	color: #374659;
	font-weight: 100;
	font-size: 3em;
	font-weight: normal;
	letter-spacing: 5px;
	margin-bottom: 100px;
}

.footer {
	background-color: #374659;
	width: 100%;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
}

.footer h1 {
	color: white;
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 5px;
}

a.button {
	color: white;
	text-align: justify;
	user-select: none;
	background: rgb(55, 70, 89);
	padding: .7em 1.5em;
	outline: none;
	transition: 1s;
}

a.button:hover {
	background: red;
}

a.button:active {
	background: rgb(0, 100, 150);
}
	

#navigation ul {
    margin-left: -13px;
    padding: 0;
	text-transform: uppercase;
    color: #374659;
}

#navigation ul li {
    list-style-type: none;
    display: inline;
	letter-spacing: 1.5px;
	font-weight: bold;
}

#navigation li:not(:first-child):before {
    content: " | ";
}

@-webkit-keyframes move-footer {
	0% {background-position: 0 0}
	100% {background-position: 0 -200px}
}