* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    text-align: center;
}
form {
    background-color: #eee;
    padding: 20px 0;
}
input {
    padding: 10px;
}
button {
    padding: 10px;
    background-color: cadetblue;
    color: white;
}
input, button {
    border: none;
}
hr {
    border: solid 2px #ddd;
}
ul {
    padding: 0;
    list-style-type: none;
}
.pokeball {
    width: 100%;
    height: 100px;
    background-image: url(../images/pokeball.PNG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.pokemon {
    display: flex;
}
.pokemon-name {
    flex-grow: 1;
    text-align: left;
    background-color: #ccc;
    padding: 10px;
}

