

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

article.flex-item{
    font-size: 20px;

}

.main-headline{
text-align: center;
}

a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    
}

a:hover {
    color: gray;
    transform: scale(1.05);
}

.social-media-logo:hover{
    transform: scale(1.05);
}

.site-description{
    color: white;
}

.wrap{
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%; 
}

.bg-main{
    background-image: url("../img/cover1.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid black 1px;
}

.bg-about{
    background-image: url("../img/cover2.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg-contacts{
    background-image: url("../img/cover3.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg-gallery{
    background-image: url("../img/cover4.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg-socialmedia{
    background-image: url("../img/cover5.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

li {
    display:inline-block;
    margin-right: 20px;
}

h2{
    text-align: center;
}


 li a {
    display: block;
    min-width:169px;
    border: 1px solid black;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    margin-bottom: 20px;
}

a.soc-med-logo {
    border: none;
    background: rgba(0, 0, 0, 0);
}

li:hover a.soc-med-logo {
    background: rgba(0, 0, 0, 0);
}

li:hover a {
    background: rgba(0, 0, 0, 0.5);
}
.li-active {
    background: black;
}

.main-info{
    margin-bottom: 150px;
}

.gallery{
    margin-left: 20%; 
}

.social-media{
    margin-left: 50px;
    margin-bottom: 50px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  width: 500px;
  height: 400px;
  
  line-height: 20px;
  color: black;
  font-size: 20px;
  text-align: justify;
  font-family: 'Courier New', Courier, monospace;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (max-width : 760px){
    li {
        margin-bottom: 1px;
    }

    ul li, li a {
        width: 71%;
        margin-left: 10%;
    }

    body, html {
        font-size: 20px;
    }

    img {
        width: 250px;
        height: 250px;
    }

    .column {
        -ms-flex: 70%;
        flex: 70%;
        max-width: 70%;
    }
}

@media screen and (max-width : 420px){
    .menu{
        width: 200px;

    }

    ul li, li a {
        width: 71%;
        margin-left: 10%;
    }

    body, html {
        font-size: 20px;
    }

    .site-description{
        padding-left: 5%;        
    }

    li.flex-item {
        height: 360px;
        margin-left: 5%;
        line-height: 30px;
        color: black;
        font-size: 20px;
        text-align: justify;
        font-family: 'Courier New', Courier, monospace;
      }

      .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .main-info{
        margin-left: 0%; 
    }
}