*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: black;
}
.clear{
    clear: both;
}
ul {
    list-style: none;
    margin: 10px auto;
}
li{
    height: 50px;
    display: flex;
    align-items: center;
}
li p{
    margin: 0 auto;
    font-size: 20px;
}
li.clear{
    height: 0px;
}
.brand, .brand_p{
    float: left;
    padding: 5px;
    padding-bottom: 0;
}
main{
    border-bottom: 1px rgb(48, 47, 47) solid;
}
img{
    height: 20px;
}
.p_dealer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    color: dodgerblue;
}
.p_info{
    width: 250px;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}
footer{
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}
.footer_text_2{
    margin-top: 10px;
    margin-bottom: 10px; 
    font-size: 12px;
}
main ul{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
#map{
    width:300px; 
    height:400px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#dealerBox{
    width:320px; 
    height:70px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: dodgerblue;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    line-height: 22px;
    border-color: dodgerblue;
    border: solid;
    border-radius: 35px;
}
#button{
    display: block;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    width:80px; 
    height:30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 15px;    
    box-shadow: 0 9px #999;
    padding: 5px;
}
#button:disabled{
	color: #aaaaaa;
}
#button:disabled:hover{
    background-color: #DCDCDC;
    cursor: not-allowed;
}
#button:hover{
    transition-duration: 0.8s;
    background-color:dodgerblue;
}
#button:active{
    transition-duration: 0s;
    background-color:red;    
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#myBtnTop {
    width: 60px;
    height: 60px;
    display: none;
    position: fixed;
    bottom: 45px;
    right: 15px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 30px;
}
@keyframes bounce { 0% { top: 30px; } 50% { top: 60px; } 100% { top: 30px; } }
#myBtnBottom {
    animation: bounce 2.5s infinite;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 45px;
    right: 15px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 30px;
} 
#myBtnTop:hover, #myBtnBottom:hover {
    background-color: rgb(154, 154, 154);
}
#myBtnTop:hover {
    transform: translateY(5px);
}
#btn, #btn2 {
      height: 30px;
}
#btn2{
      transform: rotate(180deg)
}
@media screen and (min-width: 660px) {
    .brand, .brand_p{
        padding: 10px;
        padding-bottom: 0;
    }
    img{
        height: 50px;
    }
    li{
        height: 100px;
    }
    li p{
        font-size: 40px;
    }
    .p_info{
        width: 450px;
        line-height: 25px;
    }
    footer{
        font-size: 20px;
        padding-top: 30px;
    }
    .footer_text_2{
        font-size: 15px;
    }
    #dealerBox{
        width: 400px;
    }
    #map{
        width:600px;
        height:600px;
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 1100px) {
    .brand, .brand_p{
        padding: 20px;
        padding-bottom: 0;
    }
    img{
        height: 70px;
    }
    li{
        height: 110px;
    }
    li p{
        font-size: 55px;
    }    
    li.brand{
        padding-left: 120px;
    }
    .p_info{
        width: 650px;
        font-size: 16px;
    }
    footer{
        font-size: 30px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .footer_text_2{
        font-size: 25px;
    }
    #map{
        width:900px;
    }
    #button{
        width:120px; 
        height:50px;
        font-size: 20px;
    }
}
@media screen and (min-width: 1500px) {
    img{
        height: 100px;
    }
    li p{
        font-size: 60px;
    }
    .p_info{
        width: 750px;
        font-size: 16px;
    }
    #map{
        width: 1350px;
    }
}