body {
    font-family: Arial, Helvetica, sans-serif;
}
.red{
    color:red;
}
.green{
    color: rgb(0,255,0);
}
.blue{
    color: #0000FF;
    font-weight: bold;
}
.bigger-text{
    font-size: 18px;
}
.even-bigger-text{
    font-size: 24px;
    font-style: italic;
}
.brown{
    color:white;
    background-color: brown;
}
p.center{
    text-align: center;
    line-height: 32px;
}
p.capitals{
    text-transform: capitalize;
    text-align: justify;
}
.hidden{
    display: none;
}
.hidden-2{
    visibility: hidden;
}
.box1{
    width: 400px;
    height: 300px;
    border: 1px solid purple;
    padding: 30px;
}
.box2{
    width: 500px;
    height: 200px;
    background-color: red;
    margin: 100px;
}
.box3{
    height: 150px;
    width: 100%;
    background-color: blue;
    padding: 50px;
    border: 10px solid yellow;
}
.box4{
    height: 200px;
    width: 500px;
    background-color: rgba(0,255,0,0.5);
}
.box5{
    position: relative;
    height: 300px;
    width: 400px;
    background-color: lightblue;
}
.box6{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50px;
    right: 10px;
    background-color: pink;
}
.button1{
    width: 300px;
    height: 100px;
}
.button1:active{
    color:blue;
}
.button2{
    width: 200px;
    height: 50px;
}
.button2:hover{
    background-color: brown;
}
.box7{
    width: 200px;
    height: 500px;
    background-color: cadetblue;
    margin-top: 200px;
    cursor: pointer;
}