
#game-field {
    max-width: 680px;
    margin: 0 auto;
}

.cell {
    text-align: center;
    padding: 15px;
    height: 10px;
    width: 10px;
    float: left;
    border: 1px solid black;
}

.row {
    clear: both;
}
