#rudr_instafeed{
    list-style:none  
  }
  #rudr_instafeed li{
    float:left;
    width:200px;
    height:200px;
    margin:10px;
  }
  #rudr_instafeed li img{
    max-width:100%;
    max-height:100%;
  }