* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 0;
    background-color: #d6d6d6;
}

header {
    padding: 30px;
    font-size: 35px;
    text-align: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav *{
    margin: 2px;
}

nav img {
    width: 125px;
    height: 125px;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0;
    max-width: 900px;
    height: 100%;
    float: left;
}

input[type=color]{
    border: none;
    width: 22px;
    height: 22px;
    background-color: unset;
}