
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1em;
    color: #000000;
}

.hidden {
    display: none;
    visibility: collapse;
}

.dodgerBlue {
    background-color: dodgerblue;
}

.crimson {
    background-color: crimson;
}

.green {
    background-color: green;
}

#statusBox {
    width:100%;
    min-height: 3em;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#statusBox .linkWrap {
    display: block;
    float: left;
    width: calc(100% - 2em - 18px);
    height: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#statusBox .linkWrap a {
    color: white;

}


#closeStatusButton {
    margin-right: 16px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 2em;
    height: 2em;
    margin-top: 0.75em;
}

#loginForm{
    margin-right: 16px;
}

#loginName, #loginPassword, #loginButton{
    margin-top: 0.5em;
    margin-left: 16px;
    border-radius: 5px;
    height: 2em;
}

#loginButton{
    background-color: transparent;
    border: 1px solid green;
    color: green;
}

#loginButton:hover{
    background-color: darkgreen;
    border: 1px solid darkgreen;
    color: white;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clear {
    clear: both;
}

#userName, #proBadge {
    padding: 1em 0 1em 1em;
}

#proBadge {
    font-weight: bold;
    color: red;
}

.settingsTitle {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1em;
    margin-left: 10%;
    margin-bottom: 1em;
}

.selectLine {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    height: 1em;
}
.selectLine select{
    float: right;
    margin-right: calc(90% - 320px);
    height: 2em;
    width: 14em;
    border-radius: 5px;
}

.selectLine input {
    float: right;
    margin-right: calc(90% - 320px);
    height: 1.75em;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
    width: 14em;
}

#createNewPasteButton {
    margin-left: calc(10% + 16px);
}

.settingsForm .smallLabel {
    line-height: 1em;
    padding-top: 0.375em;
    padding-bottom: 0.25em;
    float: left;
    margin-left: calc(10% + 16px);
}

.textAreaTitle {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 10%;
    margin-bottom: 1em;
}

.settingsForm {
    height: calc(100% - 2em);
    padding-top: 1em;
}

.textArea {
    width: 80%;
    margin-left: 10%;
    min-height: 3em;
    height: calc(100% - 25em);
    resize: none;
}

#createNewPasteButton {
    background-color: green;
    border: 1px solid green;
    color: white;
    border-radius: 5px;
    width: 10em;
    height: 2em;
    margin-top: 0.75em;
    margin-right: 1em;
}

#createNewPasteButton:hover {
    background-color: darkgreen;
    border-color: darkgreen;
    color: white;
}

#userAvatar {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: 0.5em;

}

#logoutButton {
    background-color: transparent;
    border: 1px solid crimson;
    color: crimson;
    border-radius: 5px;
    width: 10em;
    height: 2em;
    margin-top: 0.75em;
    margin-right: 1em;
}

#logoutButton:hover {
    background-color: crimson;
    color: white;
}

.logo {
    width: 3em;
    height: 3em;
    margin-left: 16px;
}

header {
    height: 3em;
}

body {
    height: 100vh;
}

main {
    background-color: gainsboro;
    height: calc(100% - 3em);
}