*{
    font-size: 12px;
    color: black;
}
nav, .bigsocialicons, .cover{
    display: none;
}
.positionimg {
    height: 12px;
}
.justify{
    text-align: justify;
}
.citace{
    font-style: italic;
}