p {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(73, 31, 31);
}

input[placeholder="TEL"] {
    height: 30 px;
}

.intro {

}

.container .into {

}