body {
    text-align: center;
    background-color: rgba(10, 94, 172, 0.5);
}

#gamefield {
    border: 2px solid rgb(241, 241, 241);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 25px;
}

button {
    min-height: 80px;
    color: black;
    width: 15%;
    background-color: rgb(221, 221, 221);
    border: 3px solid rgb(80, 190, 253);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    left: 140px;
    top: 25%;
    margin-top: -50px;
    margin-left: -100px;
    position: fixed;
}

button:hover {
    border: 5px solid darkgrey;
}

console.log {
    height: 100px;
    width: 400px;
}

.nav {
    background-color: rgb(92, 92, 92);
    color: #feffff;
    text-align: left;
    font-size: 25px;
    margin: 0 auto;
}

.nav a {
    display: inline-table;
    color: #feffff;
    padding: 25px;
    text-decoration: unset;
}

.nav a:hover {
    background-color: white;
    color: rgb(92, 92, 92);
}

.activepage {
    font-weight: bold;
    font-style: italic;
    color: white;
    background-color: grey;
}

.panel_01 {
    background: #bebebe;
    height: 25%;
    left: 140px;
    top: 50%;
    margin-top: -50px;
    margin-left: -100px;
    position: fixed;
    width: 15%;
    font-weight: bold;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 25px;
}

.panel_01 p {
    height: 20px;
    width: 200px;
    margin: 40px auto;
}

#score {
    font-size: 75px;
    color: red;
}

#gameover {
    font-size: 75px;
    color: black;
}

#gameovertext {
    font-size: 40px;
    color: black;
}

#panel_02 {
    float: left;
}

.twitter {
    width: 60px;
}