* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Amatic SC', cursive;
}

main {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	background-color: white;
	width: 80%;
	height: 100%;
	border-radius: 10px;
}

#refresh-button:hover {
	cursor: pointer;
	color: rgb(216, 216, 216);
}

#refresh-button h1:hover {
	color: rgb(216, 216, 216);
}

.nav {
	background-color: rgb(92, 92, 92);
	color: #feffff;
	text-align: left;
	font-size: 25px;
	border-radius: 10px;
}

.nav a {
	display: inline-table;
	color: #feffff;
	padding: 25px;
	text-decoration: unset;
}

.nav a:hover {
	background-color: white;
	color: rgb(92, 92, 92);
}

.activepage {
	font-weight: bold;
	font-style: italic;
	color: white;
	background-color: grey;
}

body {
	background-color: #edeef1;
}

a h1 {
	text-align: center;
	color: #007EE3;
	font-size: 70px;
}

.headerimg {
	max-width: 10%;
	border-radius: 10px;
	float: left;
}

h2 {
	text-align: center;
	color: #768591;
	font-size: 35px;
}

#loader {
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid gray;
	border-bottom: 10px solid gray;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 1s linear infinite;
	display: none;
	margin: 0 auto;
	margin-top: 20px;
}

#searchText {
	height: 75px;
	width: 400px;
	border: 3px solid #768591;
	font-size: 25px;
	padding-left: 10px;
	border-radius: 10px;
	font-weight: bold;
}

#submitButton {
	height: 78px;
	width: 150px;
	border: 3px solid #768591;
	font-size: 25px;
	border-radius: 10px;
	font-weight: bold;
}

#submitButton:hover {
	background-color: #007EE3;
	cursor: pointer;
}

h3 {
	text-align: center;
	color: #768591;
	font-weight: bold;
}

.formDiv {
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
}

.flex-container {
	width: 100%;
	margin-bottom: 90px;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.box {
	width: 250px;
	min-height: 600px;
	max-height: 100%;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #768591;
	border-radius: 20px;
}

.gameTitle {
	font-family: 'Russo One', sans-serif;
	font-size: 20px;
}

.siteLink {
	font-size: 20px;
}

.gameimg {
	max-width: 200px;
	max-height: 250px;
	box-shadow: 0 0 70px 5px #dbd9d8;
	border-radius: 10px;
	margin-bottom: 20px;
}

.hide {
	display: none;
}

.opacity {
	opacity: 0.5;
}

#errorMesssage {
	color: red;
}

footer {
	background-color: rgb(216, 216, 216);
	height: 50px;
	display: table;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-radius: 10px;
}

footer p {
	color: #007EE3;
	font-size: 25px;
	font-weight: bold;
}

.gamename {
	color: black;
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
}

.decker {
	color: black;
	font-family: 'Russo One', sans-serif;
}

.appinfo {
	text-align: center;
	color: #768591;
	font-size: 25px;
	font-weight: bold;
}

.list-group-item {
	text-align: center;
	color: black;
	display: block;
	font-size: 25px;
	text-decoration: none;
}

.gamelink {
	color: black;
	font-size: 25px;
}

#topGamesLink {
	font-weight: bold;
	font-size: 25px;
}

@media screen and (max-width: 600px) {
	.backgroundImage {
		display: none;
	}
}