body {
    text-align: center;
    background-color: rgba(10, 94, 172, 0.5);
}

#gamefield {
    border: 2px solid rgb(241, 241, 241);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

button {
    min-height: 80px;
    color: black;
    width: 350px;
    background-color: rgb(221, 221, 221);
    border: 3px solid rgb(80, 190, 253);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

button:hover {
    border: 5px solid darkgrey;
}

console.log {
    height: 100px;
    width: 400px;
}

.panel {
    background: #bebebe;
    height: 25%;
    left: 140px;
    top: 50%;
    margin-top: -50px;
    margin-left: -100px;
    position: fixed;
    width: 15%;
    font-weight: bold;
    font-size: 20px;
    border: 5px solid black;
}

.panel p {
    height: 20px;
    width: 200px;
    margin: 40px auto;
}

#score {
    font-size: 50px;
}