@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
* {
    box-sizing: border-box;
    font-family: 'Open Sans';
}

b {
    font-weight: 700;
}

body {
    margin: 0px;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.navigation, .logo, .navigation_wrapper, .product, .circl, .more div, footer {
    background-color: #e20c74;
}

.navigation, .products, .contet, .contet2, footer div {
    max-width: 1300px;
    margin: auto;
}

footer {
    height: 200px;
    display: flex;
    align-items: center;
}

footer div {
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0px;
    font-size: 12px;
}

footer b, span {
    font-size: 30px;
}