@charset "utf-8";
/* CSS Document */

body {
  font-family: Arial, Helvetica;
}

.redish {
	color: #b22222;
	}
		
.greenish {
	color: rgb(76, 175, 80);			
	}
	
.blueish {
	color: #0040d7;
	font-weight: bold;
	}
.eighteen {
	font-size: 18px;
	}
.twentyFour {
	font-size: 24px;
	font-style:italic;
	}
.whiteBrownish {
	color: white;
	background-color: brown;
	}
.centered {
	text-align: center;
	line-height: 32px;
	}
.justified {
	text-align:justify;
	text-transform:uppercase;
	}
.purple {
	width:	400px;
	height: 300px;
	border: 1px solid purple;
	padding: 30px;
	box-sizing: border-box;
	}
.boxRedish{
	width: 500px;
	height:200px;
	margin: 100px;
	box-sizing: border-box;
	background-color: #b22222;
	}
.invisible {
	visibility:hidden
	}
.notAtAll {
	display: none;
	}
.boxBlueish {
	width: 100%;
	height: 150px;
	background-color: blue;
	padding: 50px;
	border: 10px solid yellow;
	box-sizing: border-box;}
.boxGreenish {
	width:200px;
	height: 500px;
	background-color: #4caf5080;
	}
.boxContent {
	width: 400px;
	height: 300px;
	position:relative;
	background-color: #add8e6;
	}
.boxContent div {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50px;
	right: 10px;
	background-color: pink;
	}
#button1 {
	width: 300px;
	height: 100px;
	}
#button1:active {
	color: blue;;
	}
#button2 {
	width: 200px;
	height: 50px;
	background-color: blue;}
#button2:hover {
	background-color: brown;}
.longo {
	width: 200px;
	height: 500px;
	background-color: #5f9ea0;
	margin-top:200px;
	cursor: pointer;
	}
	
	