* {
    box-sizing: border-box;
    color: black;
}

.videodiv {
    overflow: scroll;
    z-index: -100;
    height: 100%;
    position: absolute;
    width: 100%;
    max-height: 500px;
    max-width: 100%;
    box-sizing: border-box;
    
  }
  
  .videodiv-video {
    width: 100%;
    box-sizing: border-box;
  }

body {
   /* background-image: url("images/background.jpg");*/
   background-color: rgba(33,33,33, 0.9);
    background-repeat: repeat;
}

body, body a, p {
    font-family: sans-serif;
    color: black;
}

.bigpic {
    min-height: 500px;
    background-image: url("images/logo_white.png");
    background-position: top;
    background-position-y: 100px;
    background-repeat: no-repeat;
    background-size: contain;  
    padding: 90px 0px;
    
}

.bigpic p {
    color: white;
    text-align: center;
    font-weight: 600;
    margin: 200px 20% 0px 20%;
}

ul {
    list-style: none;

}

header {
    position: absolute;
}
nav {
    text-transform: uppercase;
    text-align: center;
}

nav ul {
    display: inline-block;
}

nav li {
    margin-left: 10px;
    padding: 20px 50px;
    background-color: #F2F2EB;
    opacity: 0.5;
    text-decoration: none;
    float: left;
}

nav a {
    display: inline-block;
    text-decoration: none;
}
nav li:hover {
    background-color: #A62E38;
    opacity: 1;
    cursor: pointer;
}
nav li:hover a {
    color: white;
}

.offer {
    max-width: 100%;
    min-height: 400px;
    background-size: content;
    margin: 0px;
    padding: 20px 0;
    z-index: -100;
}

.point {
    max-width: 30%;
    margin: 10px;
    padding: 2%;
    border-radius: 10px;
    background-color: rgba(242,242,235, 0.9);
    float: left;
}

.point p {
    min-height: 250px;
}


.point:hover {
    background-color: #A62E38;
}

.image1 {
content: url("images/engineer.png");
}

.image2{
    content: url("images/course.png");
}

.image3 {
    content: url();
}