* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

h1 {
  text-align: center;
  padding: 50px 10px;
  color: white;
  background-color: rgb(192, 50, 50);
}

.instructions {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
}

.colors>input {
  width: 50%;
  padding: 5px;
  border: none;
  font-size: 18px;
  margin: 0;
  float: left;
  color: white;
}

@media screen and (min-width: 720px) {
  .colors>input {
    padding: 20px;
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 1024px) {
  .colors>input {
    width: 20%;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

header,
nav,
.container,
footer {
  float: left;
  width: 100%;
  color: #fff;
  text-align: center;
}

header {
  background-color: rgb(223, 114, 75);
  padding: 5rem 0;
}

nav {
  background-color: rgb(47, 108, 136);
  padding: 2rem 0;
}

main {
  background-color: rgb(192, 70, 94);
  padding: 15rem 0;
}

aside {
  background-color: rgb(53, 184, 155);
  padding: 15rem 0;
}

footer {
  background-color: rgb(39, 39, 39);
  padding: 3rem 0;
}

@media only screen and (min-width: 64em) {

  main,
  aside {
    float: left;
  }

  main {
    width: 75%;
  }

  aside {
    width: 25%;
  }

  .clear {
    clear: both;
  }
}