*{
    margin:0;
}
#signpost{
    float:right;
    position: relative;
    right: 20px;
    top:6px;
}

#signpost a{
    display:inline-block;
    text-decoration: none;
    color:white;
    padding:10px 20px;
    font-size:15px;
    border: solid 1px white;
    margin:10px;
}

#signpost a:active{
    background-color:rgb(255, 255, 255);
    color: black;
}

.main_head{
    position:relative;
    height:75px;
    width:auto;
    background-color:rgb(17, 56, 71);
}
    
.main_head img{
        height:70px;
        width:70px;
        margin-left:20px;
}
.main_head h1{
        position:absolute;
        font:bold 18px Tahoma;
        top:30px;
        padding-left: 105px;
        color: white;
}
.article{
    padding:30px 30px;
}
.article_title h1{
    text-align: center;
    font: bold 30px Tahoma;
    color:rgb(17, 56, 71);
    margin-bottom:40px;
}

.article_img img{
    height:200px;
    width:auto;
    padding:0 10px;

}
.article_img{
    margin:10px 200px;
    text-align: center;
    
    
}
.article_text{
    font:normal 15px Tahoma;
    padding: 10px 170px;
    text-align: justify;
}
.article_text p{
    padding:10px 10px;
}

    
.footer{
        display: flex;
        width:auto;
        background-color: rgb(17, 56, 71);
        padding:20px 20px;
    }
.right{
        color:white;
        width:950px;
    }
.right h2{
        font:bold 12px Tahoma;
        padding-bottom:5px;
    }
.right p{
        font:normal 10px Tahoma;
    }
    
.social{
        display:flex;
        margin-left:250px;
        padding-top:10px;
    }
.son_twitter img, .son_facebook img, .son_instagram img{
        width:50px;
        height:50px;
    }

@media screen and (max-width:1500px)   
{
    .article_img{
        margin: 10px 20px;
    
    }
} 
@media screen and (max-width:1000px)
{       
        #signpost{
            float:none;
            right:0;
            top:0;
        }
        .main_head{
            height:136px;
        }
        .social{
            margin-left: 100px;
        }
        .article_text{
            padding:5px 100px;
        }
        .article_img{
            margin: 10px 20px;
        }
}

@media screen and (max-width:800px)
{
    #signpost a{
        font-size:16px;
        padding:7px 14px;
    }
    .main_head h1{
        font:bold 10px Tahoma;
        top:10px;
        padding-left: 70px;
    }
    .main_head{
        height:100px;
    }
    .main_head img{
        height:40px;
        width:40px;
        margin-left:20px;
    }
    
    .article_text{
        padding: 5px 50px;
    }
    .article_img img{
        height:100px;
    }
    .article_img{
        padding:2px 2px;
    }
    .heading{
        padding-top:0;
    }
    .social{
        margin-left: 10px;
    }
    .right h2{
        font:bold 10px Tahoma;
    }
    .right p{
        font:normal 8px Tahoma;
    }
}

@media print 
{
    #signpost{
        float:none;
        right:0;
        top:0;
    }

    #signpost a{
        font-size:13px;
        padding:5px 10px;
    }
    .main_head h1{
        font:bold 10px Tahoma;
        top:10px;
        padding-left: 70px;

    }
    .main_head img{
        height:40px;
        width:40px;
        margin-left:20px;
    }
    .heading{
        padding-top:0;
    }
    .article_img img{
        display:none;
    }
    .main_head{
        height:136px;
    }
    .article_text{
        padding:5px 70px;
    }
    .social{
        margin-left: 10px;
    }
    .right h2{
        font:bold 10px Tahoma;
    }
    .right p{
        font:normal 8px Tahoma;
    }
}