*{
    margin:0;
}
#signpost{
    float:right;
    position: relative;
    right: 20px;
    top:6px;
}

#signpost a{
    display:inline-block;
    text-decoration: none;
    color:white;
    padding:10px 20px;
    font-size:15px;
    border: solid 1px white;
    margin:10px;
}


#signpost a:active{
    background-color:white;
    color: black;
}

.main_head{
    position:relative;
    height:75px;
    width:100%;
    background-color:rgb(17, 56, 71);
    border-bottom: solid 2px rgb(12, 72, 87);
    }
    
.main_head img{
        height:70px;
        width:70px;
        margin-left:20px;
    }
.main_head h1{
        position:absolute;
        font:bold 18px Tahoma;
        top:30px;
        padding-left: 105px;
        color: white;
    }

.heading{
        font: bold 20px Tahoma;
        color:black;
        padding-left:50px;
        padding-top:10px;
    
}
    
.article_MacBook{
      margin:40px 50px;  
}
    
.article__section{
      display:flex;
      margin:20px 50px;
    }
   
.article_MacBook a{
        text-decoration: none;
        font: bold 22px Tahoma;
        color: black;
    }
.article_img{
      width: 40%;
      margin-right:20px;
}

.article_img img{
    width: 100%
}

.article_description{
        font: normal 15px Tahoma;
        padding-top:20px;
    }
.article__text{
    padding:0 50px;
    width:60%;

    }
.footer{
        display: flex;
        width:auto;
        background-color: rgb(17, 56, 71);
        padding:20px 20px;
    }
.right{
        color:white;
        width:950px;
    }
.right h2{
        font:bold 12px Tahoma;
        padding-bottom:5px;
    }
.right p{
        font:normal 10px Tahoma;
    }
    
.social{
        display:flex;
        margin-left:250px;
        padding-top:10px;
    }
.son_twitter img, .son_facebook img, .son_instagram img{
        width:50px;
        height:50px;
    }

@media screen and (max-width:1000px)
{       
        #signpost{
            float:none;
            right:0;
            top:0;
        }
        .main_head{
            height:136px;
        }
        .social{
            margin-left: 100px;
        }
        .article_iPhone{
            margin:40px 5px;
            padding: 0 10px;
        }
}
@media screen and (max-width:800px)
{       
        #signpost{
            float:none;
            right:0;
            top:0;
        }
        .main_head{
            height:139px;
        }
        .social{
            margin-left: 100px;
        }
        .article_iPhone{
            margin:40px 5px;
            padding: 0 10px;
        }
        .article__section{
            display:inline;
          }
        .article_img{
              
            margin-right:auto;
        }
        *{
            margin: 0 auto;
            
        }
}

@media screen and (max-width:600px)
{
    #signpost a{
        font-size:16px;
        padding:7px 14px;
    }
    .main_head h1{
        font:bold 10px Tahoma;
        top:10px;
        padding-left: 70px;

    }
    .main_head{
        height:100px;
    }
    .main_head img{
        height:40px;
        width:40px;
        margin-left:20px;
    }
    .heading{
        padding-top:0;
    }
    .social{
        margin-left: 10px;
    }
    .right h2{
        font:bold 10px Tahoma;
    }
    .right p{
        font:normal 8px Tahoma;
    }
}

@media print 
{
    #signpost{
        float:none;
        right:0;
        top:0;
    }

    #signpost a{
        font-size:12px;
        padding:5px 10px;
    }
    .main_head h1{
        font:bold 10px Tahoma;
        top:10px;
        padding-left: 70px;

    }
    .main_head img{
        height:40px;
        width:40px;
        margin-left:20px;
    }
    .heading{
        padding-top:0;
    }
    .main_head{
        height:136px;
    }
    .social{
        margin-left: 10px;
    }
    .right h2{
        font:bold 10px Tahoma;
    }
    .right p{
        font:normal 8px Tahoma;
    }
    .article__text{
        width:auto;
    }
    .article_img{
        display:none;;
    }
}

