.bc-brown {
    background-color: brown;
}

.bc-blue {
    background-color: #00f;
}

.bc-green {
    background-color: #0f0;
}

.bc-lightblue {
    background-color: lightblue;
}

.bc-pink {
    background-color: pink;
}

.bc-red {
    background-color: #f00;
}