h1 {
    color: red;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
}
span {
    color: blue;
    font-size: 50px;
}
nav ul {
    text-align: center;
    padding: 0;
    margin: auto;
    background-color: black;
    max-width: 290px;
}
nav li {
    display: inline-block;
    padding: 10px 20px;
    background-color: aliceblue;
}
nav a :hover {
    background-color: aqua;
}

