*{
   box-sizing: border-box;

}

body{
   font-family: 'Open Sans', sans-serif;
   text-align: center;
}

.pokeball{
   width:100px;
   height:100px;
   background-image: url(../img/pokebal.png);
   background-size:contain;
   background-position: center;
   background-repeat: no-repeat;

}

input,button{
   padding:10px;
   border:none;
}

form{
   background-color:#eee;
   padding:20px 0;
}

button{
   background-color: cadetblue;
   color:white;
}

.pokemon-text{
   font-weight: bold;
   font-size:24px;
}

ul{
   padding:0;
   list-style-type: none;
   max-width: 480px;
   margin: 0 auto;
}

.pokemon{
   display:flex;
   margin-bottom: 5px;
}

.pokemon-name{
   flex-grow: 1;
   background-color:#eee;
   padding:10px 0;
}

@media screen and (min-width: 640px) {
   .pokeball{

      position: absolute;
      left:10px;
      top:10px;
      width:100px;
   }
}