body {
    margin: 0;
    padding: 0;
    font-family: 'Pavanam';
}
.upperPart {
    width:  100%;
    height: 100%;
}
.leftSideMenu {
    width: 20%;
    height: 100%;
    background-image: url("leftSideMenuBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
}
.nameBoxAndList {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    text-align: center;
    color: white;
}
.nameBoxAndList ul {
    list-style-type: none;
    margin-top: 35%;
    padding: 0;
}
.nameBoxAndList ul li {
    padding: 10px;
}
.logo {
    width: 40%;
    height: 20%;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    font-size: 20px;
}   
.upperRightSide {
    width: 80%;
    height: 100%;
    margin-left: 20%;
}
.servicesBox {
    width: 80%;
    position: relative;
    left: 18%;
    top: 5%;
}
.servicesBox h1 {
    margin: 0;
    padding: 0;
    font-size: 3vw;
}
.line-01 {
    width: 80%;
    margin-left: 0;
}
.expertiseBox {
    position: relative;
    top: 5%;
    width: 20%;
    height: 25%;
    display: inline-block;
}
.expertiseBox h2, .methodsBox h2, h3 {
    color: #382926;
}
.servicesList {
    padding: 0;
    list-style-type: none;
}
.servicesList li{
    padding: 3px;
    font-size: 1.1em;
}
.methodsBox {
    margin-top: 15%;
    width: 90%;
    height: 25%;
    text-align: justify;
}
.methodsBox p {
    text-align: justify;
    padding-bottom: 5%;
}
@media screen and (max-width: 600px){
    .servicesBox {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
    .expertiseBox {
        width: 90%;
    }
    .methodsBox {
        margin: 0;
        margin-top: 60%;
        width: 90%;
    }
    .imageTopRight {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }
    .mandatory-01 {
        flex: 1;
    }
    .methodsBox {
        flex: 5;
    }
}
.imageTopRight {
    display: inline-block;
    width: 50%;
    height: 50%;
    float: right;
    margin-right: 25%;
    background: url("sluzbyTopRight.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}