*{
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-family: 'Muli', sans-serif;
}
body {
    background-color:#66d1a8;
}
 main {
    background-color:#37b670;
    max-width:1000px;
    margin: 0 auto;
    border-radius: 8px;
}
header {
    text-align: center;
    height: 40px;
    background-color:#2a6041;
    color:white;
    margin:0 auto;
}
.intro {
    padding:10px;
    text-align: center;
}

#login-btn,#logout {
    width:24%;
    border: none;
    background-color:#2a6041;
    color:white;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    display:block;
    margin: 0 auto;
    cursor:pointer;
}

footer {
    margin-top:30px;
    text-align:center;
    background-color:#2a6041;
    color:white;
    height:30px;
}
/*--------Add a searched value--------*/
#insert-row input {
    border: none;
    background-color:#264b37;
    width:95%;
    color:white;
    padding: 10px;
    margin:10px;
    text-decoration: none;
    font-size: 14px; 
}
/*--------Submit the form--------*/
#submit-row input {
    margin-top:20px;
    width:48%;
    border: none;
    background-color:#2a6041;
    color:white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor:pointer;
}
.message-results {
    text-align:center;
}

 /*--------------------------Result list---------------------------*/
/*--------result head--------*/
 h2 {
     text-align:center;
     background-color: #356249;
     color:white; 
 }
 .closed {
     display:none;
 }
 #resultsTable {
    background-color: #4cab77; 
 }
 .results-head {
    display: flex;
    flex-direction: row;
}
.header-result {
    font-weight: bold;
    width:26%;
    text-align:center;
    float:left;
    padding:10px;
}

/*--------result body--------*/
.result-body,.playlist-body {
    display: flex;
    flex-direction: row; 
}
.result-row,.playlist-row {
    width: 100%;
    margin-top: 5px;
    overflow: auto;
    padding-left: 10px;
}

.result-name,.result-artist,.result-album,.playlist-name,.playlist-artist,.playlist-album {
    width:26%;
    float:left;
    text-align:center;
}

.add-button,.delete-button {
    float:right;
    width:20%;
    border:none;
    background-color:#2d533e;
    color:white;
    padding: 5px;
    font-size: 14px;
    cursor:pointer;
    margin-right:10px;
}
.add-button:hover,.delete-button:hover{
    border: white 1px solid;
}

 /*--------------------------My Playlist---------------------------*/
 /*--------playlist head--------*/
 #id {
     display:none;
 }
.playlist-head {
    display: flex;
    flex-direction: row;
}
.header-playlist {
    font-weight: bold;
    width:26%;
    text-align:center;
    float:left;
    padding:10px;
}

/*--------playlist body--------*/


 /*--------------------------Responsivity---------------------------*/

  /*--------------------------Loader---------------------------*/
.loader {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #2a6041; 
    border-radius: 50%;
    width:30px;
    display: block;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    100% { transform: rotate(360deg); }
  }