body {
    background-image: url("https://media.gettyimages.com/photos/seamless-dirty-grunge-multilayered-dark-gray-stone-texture-background-picture-id494645060?b=1&k=6&m=494645060&s=612x612&w=0&h=GC99EQxPYj2WfGJ-1cg2r5MsdyLQNsT8G0h1GpCv3tA=");
    background-position: top;
    background-repeat: tile;
    font-family: Arial, Helvetica, sans-serif;)
}

nav {
    background-color: grey;
    opacity: 0.5;
}

.menu {
    display: block;
  padding: 0px;
  list-style-type: none;
  text-align: center;
  white-space: nowrap;
}

.menu-item {
    display: block;
    min-width: 90px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 50px;
    color: #000;
}