.{box-sizing: border-box;}
form{margin-top: 40px;}
input, label{text-align: center;}
#error{width: 100%; margin: 0 auto; text-align: center;}
#error404{width:70%; margin: 0 auto; text-align: center; margin-top: 10px;}
button{width: 100%;}
h1{font-size: 30px; text-align: center;}
p{text-align: justify;margin-bottom: 50px;margin-top: 30px;}
.logo{color:dimgrey; text-transform:uppercase; font-weight: bold; font-size: 60px; margin: 0 auto; text-align: center; font-family: 'Staatliches', cursive;}
.line{background-color: dimgray; width:80%; height: 2px; margin: 0 auto;}
.description{color:gray; text-align: center; font-family: 'Staatliches', cursive; text-transform: uppercase; margin: 0 auto; margin-bottom: 10px; margin-top: 10px;}

@media only screen and (max-width: 992px) {
    .row{width: 40%; margin: 0 auto;}
}
@media only screen and (max-width: 450px) {
    .row{width: 60%; margin: 0 auto;}
}
@media only screen and (max-width: 350px) {
    .row{width: 90%; margin: 0 auto;}
}



.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid gray;
  border-bottom: 16px solid gray;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.foot{
    text-align: center;
    font-family: 'Staatliches', cursive;   
}
header{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}