@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin-ext');

body {
    font-family: Roboto;
    box-sizing: border-box;
    margin: 0;
}

/* Header */

header {
    width: 100%;
    background-color: #fff;
    position: fixed;
}

header.scrolled {
    -webkit-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.1);
}

.header-wrap {
    width: 90%;
    overflow: auto;
    padding: 15px 5px;
    max-width: 1100px;
    margin: 0 auto;
}

header .logo {
    height: 44px;
    float: left;
}

.navbar-icon {
    display: none;
}

nav {
    float: right;
    line-height: 44px;
    cursor: pointer;
}

nav a {
    color: #b3b3b3;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    margin: 0 5px;
    transition: color 0.3s;
}

nav a:hover {
    color: #000;
}

nav a.active {
    color: #000;
}

@media (max-width: 749px) {
    nav {
        display: none;
    }

    nav.show-mobile-nav {
        display: block;
        width: 100%;
        padding-top: 20px;
    }

    nav.show-mobile-nav a {
        display: block;
        text-align: left;
        line-height: 20px;
    }

    .navbar-icon {
        display: block;
        height: 30px;
        padding: 7px;
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }
}

/* Main */

main {
    padding-top: 100px;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}

/* index */

section.jumbotron {
    width: 100%;
    height: 500px;
    background: url('/assets/main-burger.jpg');
    background-position: 50%;
    background-size: cover;
    display: table;
}

.jumbotron .text {
    color: #fff;
    background: rgba(0,0,0,0.3);
    display: table-cell;
    vertical-align: middle;
    padding: 0 50% 0 50px;
}

.jumbotron .text h1 {
    font-size: 40pt;
    margin: 0;
}

.jumbotron .text span {
    font-size: 20pt;
    margin: 0;
}

section.cards {
    width: 100%;
    overflow: auto;
    margin: 15px 0;
}

.cards .visit-us {
    width: 100%;
    font-size: 26pt;
    text-align: center;
}

.cards .card {
    width: calc(100% / 3 - 40px);
    margin: 20px;
    float: left;
    color: #333;
}

.cards .card .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cards .card h4 {
    margin: 10px 5px 3px 5px;
    font-size: 12pt;
    text-transform: uppercase;
}

.cards .card .text {
    margin: 5px 5px 0 5px;
    font-size: 11pt;
}

@media (max-width: 800px) {
    .jumbotron .text {
        padding: 0 50px;
    }
} 

@media (max-width: 599px) {
    .cards .card {
        width: calc(100% - 40px);
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .cards .card {
        width: calc(100% / 2 - 40px);
    }

    .cards .last-card {
        margin: 20px auto;
        float: none;
    }
}

/* menu */

section.menu {
    width: 100%;
    overflow: auto;
    margin: 15px 0;
}

.menu h1, .gallery h1, .map h1 {
    font-size: 28pt;
    margin: 0 0 15px 0;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-weight: 900;
}

.menu h3 {
    font-size: 18pt;
    margin: 15px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-weight: 900;
}

.menu .menu-pic {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 25px;
}

.menu .menu-pic.mt {
    margin-top: 50px;
}

.menu .menu-item, .gallery .gallery-item {
    width: calc(100% / 3 - 40px);
    margin: 20px;
    float: left;
}

.menu-item h5 {
    float: left;
    margin: 0;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 700;
}

.menu-item .price {
    float: right;
    font-size: 11pt;
    text-transform: uppercase;
    font-weight: 500;
}

.menu-item .description {
    font-size: 10pt;
    width: 100%;
    float: left;
    margin-top: 10px;
    min-height: 75px;
}

@media (max-width: 679px) {
    .menu .menu-item, .gallery .gallery-item {
        width: calc(100% - 40px);
    }
}

@media (min-width: 680px) and (max-width: 980px) {
    .menu .menu-item, .gallery .gallery-item {
        width: calc(100% / 2 - 40px);
    }
}

/* galerie */

.gallery {
    overflow: auto;
}


/* rezervace */


/* kontakt */

iframe.map {
    width: 100%;
}

.contact-col {
    float: left;
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
}

.contact-col-right {
    float: right !important;
}

.adress {
    text-align: left;
}

.adress table, .adress p {
    padding: 0 10px 10px 10px;
    line-height: 22px;
}

.adress th {
    padding-right: 10px;
}

.reservation .note {
    font-size: 11pt;
    color: #333;
    margin: 10px;
}

.reservation form {
    margin: 10px;
}

.reservation input, .reservation textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 4px 0 8px 0;
    font-size: 11pt;
    border-radius: 5px;
    padding: 6px 8px;
    border: 1px solid rgb(173, 173, 173);
}

.reservation input[type='submit'] {
    width: 150px;
    float: right;
    cursor: pointer;
    background-color: #333;
    border: 0;
    color: #fff;
}

.reservation label {
    font-size: 10pt;
    font-weight: 500;
}

@media (max-width: 830px) {
    .contact-col {
        width: 100%;
    }
}

/* Footer */

footer {
    width: 100%;
    background-color: #333;
    color: #bbb;
}

.footer-wrap {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto 0 auto;
    overflow: auto;
    padding: 20px 0;
}

footer .adress {
    font-size: 12pt;
    font-weight: 500;
}

footer .copyright {
    font-size: 9pt;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
}