* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
h1 {
  text-align: center;
  padding: 50px 10px;
  color: white;
  background-color: rgb(192, 50, 50);
}
.instructions {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
}
.colors > input {
  width: 20%;
  padding: 5px;
  border: none;
  font-size: 18px;
  margin: 0;
  float: left;
  color: white;
}

.wrapper {
  padding: 20px;
  font-weight: bold;
  color: white;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: rgb(223, 114,  75);
  padding: 110px 0;
  width: 100%;
}

nav {
  background-color: rgb( 47, 108, 136);
  padding: 20px 0;
  width: 100%;
}

main {
  background-color: rgb(192,  70,  94);
  padding: 500px 0;
  width: 75%;
  float: left;
}

aside {
  background-color: rgb( 53, 184, 155);
  padding: 500px 0;
  float: left;
  width: 25%;
}

footer {
  background-color: rgb( 39,  39,  39);
  padding: 40px 0;
  width: 100%;

}

@media screen and (max-width: 1024px) {
  .colors > input {
    padding: 20px;
    width: calc(100% / 3);
  }

  main {
    width: 100%;
  }

  aside {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .colors > input {
    width: 50%;
  }
}