    @charset "utf-8";
/* CSS Document */
*{
	padding: 0;
} 
@font-face {
	font-family: Myriad;
    src:url(../MYRIADAT.TTF);
}
body{
    background-color: black;
}
/* BEGIN MENU*/
.container-menu{
    padding-top: 50px;
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.logo_index{
    margin: auto;
    min-width: 300px;
}
.gold_line_top{
    height: 1px;
    background-color: #B2985B;
    margin-top: 50px;
    width: 100%;
}
.gold_line_bottom{
    height: 1px;
    background-color: #B2985B;
    width: 100%;
}
.menu{
    margin: auto;
    font-family: Myriad, sans-serif;
    font-weight: 2900;
    font-size: 1.5em;
}
li {
    display: inline;
    padding-right: 1.5em;
    margin-bottom: 10px;
}
.menu_link{
    display: inline-block;
    color: #B2985B;
    text-decoration: none;
}
.menu_link::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background:#B2985B;
    transition: width .3s;
}
.menu_link:hover::after {
    width: 100%;
}
footer{
    margin: auto;
    color: #B2985B;
    text-align: center;
    font-family: Myriad, sans-serif;
    padding-top: 120px;
    padding-bottom: 20px;
}
.img_footer{
    width: 3%;
}
.menu_link_actual{
    color: #B2985B;
    text-decoration: underline;
    font-weight: bold;
}
@media only screen and (max-width: 75em) {
    .logo{
        margin: auto;
        min-width: 200px;
    }
    .logo-img{
        width: 40%;
    }
    .menu{
        width: 90%;
        padding-left: 10%;
    }
    li{
        display: block;
        padding: 0.5em;
    }
    ul li a:hover{
        border-bottom: none;
        text-decoration: none;
    }
}
/* END MENU */

/*BEGIN CONTACT*/
.container_contact{
    padding-top: 10px;
    display: flex;
    margin: auto;
    width: 90%;
    height: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.article_contact{
    font-family: Myriad, sans-serif;
    color: #B2985B;
    padding-right: 5em;
    font-size: 1em;
}
.link_contact{
    text-decoration: none;
    color: #B2985B;
    font-family: Myriad, sans-serif;
    padding-right: 5em;
}
.link_contact:hover{
    text-decoration: underline #B2985B;
}
.map{
    min-width: 50%;
    height: 600px;
    border: 0;
}
@media only screen and (max-width: 75em) {
    .container_contact{
        flex-direction: column;
        width: 90%;
    }
    .map{
        width: 100%;
    }
}
/*END CONTACT*/

/*BEGIN REGULAR PAGE*/
.regular_container{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    justify-content: flex-start;
}
.regular_article{
    color: #B2985B;
    font-family: Myriad, sans-serif;
    width: 100%;
    border-left: 1px solid #B2985B;
    padding: 10px;
    flex:2;
}
.regular_h1{
    border-top: 1px #B2985B solid;
    color: #B2985B;
    font-family: Myriad, sans-serif;
    font-weight: 50;
    padding: 10px;
    flex:1;
}
.regular_img{
    width: 49%;
    max-width: 900px;
}
.img_div{
    width: 100%;
    margin: auto;
}
@media only screen and (max-width: 60em) {
    .regular_container{
        width: 90%;
    }
    .regular_article{
        width: 90%;
    }
    .regular_h1{
        width: 90%;
    }
    .regular_img{
        width: 100%;
        padding-left:0;
        max-width: 500px;
        align-self: center;
    }
    .img_div{
        width: 100%;
    }
}

/*END REGULAR PAGE*/

/*BEGIN VIDEO PAGE*/
.video{
    display: flex;
    margin: auto;
    flex-direction: row;
    height: 500px;
    padding-top: 1em;
}
.video_frame{
    width: 50%;
}
@media only screen and (max-width: 60em) {
    .video{
        flex-direction: column;
   }
   .video_frame{
       width: 100%;
       height: 50%;
   }
}


/*END VIDEO PAGE*/

/*BEGIN SPA PAGE*/
.container_spa{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: auto;
}
.spa_wallpaper{
    padding-top: 10px;
    margin: auto;

}
.spa_article{
    margin: auto;
    color: #B2985B;
    font-family: Myriad, sans-serif;
    width: 50%;
    border-left: 1px solid #B2985B;
    padding: 10px;
    flex:2;
}
.spa_wallpaper_mobile{
    display: none;
}
@media only screen and (max-width: 60em) {
    .spa_article{
        width: 100%;
    }
    .spa_wallpaper{
        
        display: none;
    }
    .spa_wallpaper_mobile{
        padding-top: 10px;
        width: 100%;
        display: flex;
    }
}
@media only screen and (max-width: 80em) {
   
    .spa_wallpaper{
        display: none;
    }
    .spa_wallpaper_mobile{
        width: 100%;
        display: flex;
    }
}

/*END SPA PAGE*/

@media print{
    .logo-img{
        display: none;
    }
    .container-menu{
        display: none;
    }
    .spa_wallpaper{
        display: none;
    }
    .spa_article{
        width: 100%;
    }
    .img_footer{
        display: none;
    }
    .map{
        display: none;
    }
    .regular_img{
        display:  none;
    }
    .regular_article{
        border: none;
    }
    footer{
        padding-top:10px;
    }
    .video{
        display: none;
    }
    .div_contact{
        width:100%;
        margin: left;
        font-size: 20px;
    }
}