body {
    background-color:blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.map {
    
    margin-left: 16%;
    position: absolute;

    
   
}
svg{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
   
    

}
.diary,.Shiganshina,.Trost,.Forest,.Chlorba,.Karanase,.Nedlay,.Ragako,.Utgard,.Dauper,.Stohess,.Hermina,.Orvud,.Yalkell,.Capital,.Maria,.Rose,.Sina,.Paradis{
    fill: aliceblue;
    opacity: .2;
}
/*.Paradis:hover,.diary:hover,.Shiganshina:hover,.Trost:hover,.Forest:hover,.Chlorba:hover,.Karanase:hover,.Nedlay:hover,.Ragako:hover,.Utgard:hover,.Dauper:hover,.Stohess:hover,.Hermina:hover,.Orvud:hover,.Yalkell:hover,.Capital:hover,.Maria:hover,.Rose:hover,.Sina:hover{
    transition: opacity .2s ease;
	opacity: .5;
    cursor: pointer;
    fill:beige;
   
}*/
/*#nadpis {
   background-color: rgba(240, 248, 255, 0.596);
	display: none;
    position: absolute;
    left:75%;
    bottom:5%;
    top:125%;
	padding: 20px;
	box-sizing: border-box;
	width: 10%;
    height: 5%;
	box-shadow: 0 0 32px 10px #ccc;
    font-family: sans-serif;
    font-size: 20px;
    border: #fff 3px solid;
	border-radius: 10px;
}*/
#obsah {
    background-color: rgb(240, 248, 255);
     display: inline-block;
     position: absolute;
     margin-left:16%;
     bottom:80%;
     top:1%;
     box-sizing: border-box;
     width:66%;
     height: 15%;
     font-size: 24px;
     border: #4CAF50 3px solid;
     border-radius: 10px;
 }
* {
    box-sizing: border-box;
    zoom:84%;
   
}
button {
 
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    width: 15%;
    height: 15%;
    border-radius: 10px;

  }
 [data-id="12"]{
    margin-top: 10%;
  }
  .button0 ,.button1,.button2,.button3,.button4,.button5,.button6,.button7,.button8,.button9,.button10,.button11,.button12,.button13,.button14,.button15,.button16,.button17,.button18,.button19{

    background-color: white; 
    color: black; 
    border: 3px solid #4CAF50;
  }


