@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
    font-family: 'Merriweather', serif;
    color: #FAFAFA;
    font-size: 16px;
}

.main>* {
    padding: 1.5rem;
    width: calc(100% - 3rem);
}

.main>*>h3 {
    position: sticky;
    top: calc(3rem + 50px);
    padding: 1rem 0;
    margin: 0;
}

a {
    color: #FAFAFA
}

table {
    display: block;
    overflow: auto;
}

.header {
    background-color: #fff;
    color: #b0b0b0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 1.5rem;
    width: calc(100% - 3rem);
}

.header>*:not(:last-child) {
    margin-right: 0.625rem;
}

.header__img {
    border-radius: 50%;
    height: 50px;
}

.header h1 {
    font-size: 1.5rem;
    margin: 0
}

.birth {
    background-color: #55d2b8;
}

.birth h2 {
    font-size: 1rem
}

.about,
.about__title {
    background-color: #2eade4;
}

.quotes,
.quotes__title {
    background-color: #FF9800;
}

.quotes__ul {
    list-style: none;
    padding: 0;
    font-style: italic;
}

.quotes__ul li:not(:last-child) {
    margin-bottom: 1rem;
}

.shares,
.shares__title {
    background-color: #009688;
}

.footer {
    background-color: #607D8B;
}

@media only screen and (min-width: 60em) {
    body {
        /* i know...*/
        display: flex;
    }

    .header {
        width: 30%;
        height: calc(100vh - 3rem);
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .header>*:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .header__img {
        height: 200px;
    }

    .main {
        width: 70%;
    }

    .main>*>h3 {
        top: 0;
    }
}