.par-02 {
    color: red;
}

.par-03 {
    color: rgb(123, 255, 47);
}

.par-04 {
    color: rgb(124, 110, 252);
}

.par-05 {
    font-size: 18px;
}

.par-06 {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}

.par-07 {
    color: white;
    background-color: brown;
}

.par-08 {
    text-align: center;
    line-height: 32px;
}

.par-09 {
    text-align: justify;
    text-transform: uppercase;
}

.box-01 {
    width: 400px;
    height: 300px;
    border: 1px solid purple;
    padding: 30px;
}

.box-02 {
    width: 500px;
    height: 200px;
    background-color: rgb(182, 32, 32);
    margin: 100px;
}

.par-10, .par-11, span.comment {
    display: none;
}

.box-03 {
    margin-bottom: 10px;
}

.box-04 {
    width: 500px;
    height: 200px;
    color: white;
    background-color: rgb(51, 53, 51);
    opacity: 0.5;
    box-shadow: 495px 0px 0px 0px rgb(51, 53, 51),
                955px 0px 0px 0px rgb(51, 53, 51),
                1400px 0px 0px 0px rgb(51, 53, 51);           
}

.div1 {
    background-color: lightblue;
    width: 400px;
    height: 300px;
    position: relative;
}

div.box-06 {
    width: 80px;
    height: 80px;
    background-color: pink;
    position: absolute;
    top: 50px;
    right: 10px;
}

#but-01 button {
    width: 300px;
    height: 100px;
}

#but-01 :active {
    background-color: blue;
}

#but-02 button {
    width: 200px;
    height: 50px;
}

#but-02 :hover{
    background-color: brown;
}

.box-07 {
    margin-top: 30px;
    width: 200px;
    height: 500px;
    background-color: rgb(63, 144, 168);
    cursor: pointer;
}

