@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-weight: bold;
    font-size: 50px;

}

h2 {
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-weight: bold;
    font-size: 20px;
}

h4 {
    font-weight: bold;
    font-size: 15px;

}

header {
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(/img/wallropes-min.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.hero-banner {
    background-color: rgba(0,0,0,.3);
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px 20px;
    line-height: 3em;
}

.hero-banner h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 18px;
    font-size: 50px;
    margin: 5px 0;
}

.hero-banner h3 {
    color: #405947;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 0px;
}

.hero-banner h4 {
    color: white;
    margin: 0px;
    letter-spacing: 3px;
}

.navigation {
    height: 70px;
    background-color: #101415;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.68);
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-nav {
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 24px 40px;
}
.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a {
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 24px;
}

.main-nav li a:hover {
   background-color: #162c1e;
}

.clear {
    clear:both;
}

.welcome h2 {
    text-align: center;
    letter-spacing: 10px;
    margin: 20px 0;
}

.float-box {
    text-align: left;
    float: left;
}

.welcome .float-box {
    width: 50%;
    padding: 5px 5px;
}

.sep {
    width: 1280px;
    height: 3px;
    background-color: #162c1e;
    margin: 30px auto;
    border-radius: 10px;
  
}
