@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);


body{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #333;
font-weight: 300;
text-align: center;
background-color: #f8f6f0;
}
h1{
font-weight: 300;
margin: 0px;
padding: 10px;
font-size: 20px;
background-color: #444;
color: #fff;
}
.question{
font-size: 30px;
margin-bottom: 10px;
}
.answers {
margin-bottom: 20px;
text-align: left;
display: inline-block;
}
.answers label{
display: block;
margin-bottom: 10px;
}
button{
font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  background-color: #279;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin: 5% 45%;
}
button:hover{
  background-color: #38a;
}

.slide{
position: absolute;
left: 0px;
top: 0px;
width: 100%;
z-index: 1;
opacity: 0;
transition: opacity 0.5s;

}
.active-slide{
opacity: 1;
z-index: 2;
margin-bottom: 45%;
}
.quiz-container{
position: relative;
height: 800px;
margin-top: 20px;
}

.line  {
  padding: 10px;
  margin: 10% 30%;
  width: 300px;
  display: block;
}

.left {
  float: left;
  width: 150px;
}

.right {
  float: right;
  width: 150px;
}
