body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background-image: url(http://www.zingerbug.com/Backgrounds/background_images/white_parchment_paper_wallpaper_texture_seamless.jpg);
}

.pic {
    padding: 10px;
    top: 30px; 

}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    opacity: 0.5s;
    color: grey;
    margin-left: 10px;
}

table {
    background-color: lightgray;
    opacity: 0.5;
    margin: 10px;
    padding: 20px;
}

.t0 {
    position: absolute;
    top: 440px;
    width: 249px;
   margin-top: 10px;
}

.t1 {
    position: absolute;
    left: 280px;
    top: 35px;
}

.t1 td {
    border-bottom: 1px solid black;
    height: 80px;
    width: 500px;
}

.t2 {
    position: absolute;
    left: 280px;
    top: 490px;
}

.t3 {
    position: absolute;
    left: 800px;
    top: 490px;
}

.t4 {
    position: absolute;
    left: 280px;
    top: 660px;
}

.t5 {
    position: absolute;
    left: 630px;
    top: 660px;
}

.t6 {
    position: absolute;
    left: 1060px;
    top: 490px;
}