html {
  /* The image used */
   background-image: url(https://images5.alphacoders.com/647/thumb-1920-647596.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
body{
  margin: 0;
}
/*Header*/
.topnav {
   background-color: #333;
   overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 15px 0px;
   text-decoration: none;
   width:20%;
}
@media(min-width:600px){ 
.topnav a {
   font-size: 30px;
}}

@media(max-width:599px){ 
  .topnav a {
     font-size: 13px;
  }}
/* Change the color of links on hover */
.topnav a:hover {
   background-color: rgb(134, 82, 218);
   color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
   background-color: #4CAF50;
   color: white;
}
/*Home page*/
.H1Home {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 10px;
   text-align: center;
   font-size: 80px;
   font-weight: normal;
   cursor: pointer;
   overflow: hidden;
   text-shadow: 0 0 rgb(0, 255, 21), 0 0 rgb(130, 97, 247), 0 0 rgb(1, 153, 255);
   color: transparent;
   transition: all 2s;
}
.H1Home:hover {
   text-shadow: -450px 0 rgb(68, 0, 255), 450px 0 rgb(5, 154, 199), 0 0 rgb(6, 247, 174);
}
/*H1 at all pages*/
h1 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   font-size: 50px;
   font-weight: inherit;
   cursor: pointer;
   text-shadow: -1px -1px rgba(0, 0, 0, 0.637), 0 1px 0 rgb(76, 0, 255);
   color: rgb(210, 206, 252);
   transition: all 1s;
}
h1:hover {
   color: rgb(126, 218, 241);
}
/*CV page*/
.CV H2 {
   text-align: center;
   color: #251357;
}
.CV H2:hover {
   color: rgba(6, 226, 255, 0.747);
}
.CVmain {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 22px;
   text-align: center;
   color: rgba(255, 255, 255, 0.904);
}

.rightimg {
  float:right; 
  margin: 0 7px 7px 7px;
  opacity: 0.8;
 }


/*Timetable page*/
.table_dark {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 20px;
   width: 1310px;
   text-align: center;
   border-collapse: collapse;
   background: #252F48;
   margin: 10px;
   box-shadow: 0 0 15px #0267ff;
}

.table_dark th {
   color: rgb(56, 211, 63);
   border-bottom: 1px solid #37B5A5;
   padding: 12px 17px;
}
.table_dark td {
   color: #CAD4D6;
   border-bottom: 1px solid #37B5A5;
   border-right:1px solid #37B5A5;
   padding: 7px 17px;
}
.table_dark tr:last-child td {
   border-bottom: none;
}
.table_dark td:last-child {
   border-right: none;
}
.table_dark tr:hover td {
   text-decoration: underline;
}
/*Photos page*/
#gallery {
   width: 720px;
   overflow: hidden;
   position: center;
   z-index: 1;
   margin: 80px auto;
   box-shadow: 0 0 15px #0267ff;
}
#navigation {
   list-style: none;
   padding: 0;
   margin: 0;
   float: left;
}
#navigation li {
   padding: 0;
   margin: 0;
   float: left;
   clear: both;
}
#navigation li a img {
   display: block;
   border: none;
}
#navigation li a {
   display: block;
}
#full-picture {
   width: 600px;
   height: 451px;
   overflow: hidden;
   float: left;
}
/*Footer*/
footer {
   opacity: 0.7;
   text-align: center;
   border-top: 5px solid;
   border-image: linear-gradient(to right, #039e25 25%,#0267ff 25%, #3801ff 50%, #00f85f 50%, #00ff0d 75%, #2600ff 75%) 5;
   width: 100%;
  }
.social {
   background-color: rgba(54, 23, 105, 0.425);
   padding: 20px 0;
}
.social a{
   display: inline-block;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   height: 35px;
   width: 80px;
   cursor: pointer;
}
.social-facebook {
   background-image: url('https://image.flaticon.com/icons/svg/54/54997.svg');
}
.social-vk {
   background-image: url('http://icons.iconarchive.com/icons/icons8/windows-8/512/Social-Networks-Vk.Com-icon.png');
}
.social-linkedin {
   background-image: url('https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png');
}
.Site {
   display: flex;
   min-height: 97vh;
   flex-direction: column;  
}


.box{
  width:70%;
  background-color: rgba(182, 188, 212, 0.527);
  margin-left: auto;
  margin-right: auto;
  box-shadow:0 0 15px #331fe0;
}

.Empty-box1{
  width:50%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.Empty-box{
  width:50%;
  height: 353px;
  margin-left: auto;
  margin-right: auto;
}

.leftt {
  float:left;
  width:400px;
 }

 .rightt {
  float:right;
  width:400px;
 }