* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
form {
    background-color: #eee;
    padding: 20px 0;
}
input {
    padding: 10px;
}
button {
    padding: 10px;
    background-color: cadetblue;
    color: white;
}
input, button {
    border: none;
}
hr {
    border-style: none;
    border-bottom: 2px solid #ddd;
}
ul {
    padding: 0;
    list-style-type: none;
    max-width: 1024px;
    display: flex;
}
.pokeball {
    width: 25%;
    height: 100px;
    background-image: url(../img/pokeball.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.pokemon {
    display: grid;
    margin-bottom: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
    width: 25%;
}

.pokemon > * {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon-name {
    flex-grow: 1;
    text-align: left;
    background-color: #ccc;
    padding: 10px;
}
.pokemon-image {
    height: 100px;
    width: 100px;
    background-size: contain;
}