* {
    margin: 0;
    text-decoration: none;
    font-family: 'Pontano Sans', sans-serif;
    color: white;
}

body {    
    background-color: rgb(36, 36, 36);
}

p {
    font-size: calc(12px + 0.3vw);
}

.in-body {
    width: 64vw;
    margin: 0 auto;
}

.album, .years a:hover, .months, .selected-month, .selected-year {
    background-color: rgb(26, 26, 26);
}
main, .months a:hover, .current-month, .current-year {
    background-color: rgb(18, 18, 18);
}

.in-header {
    display: flex;
}

.in-header h1 {    
    cursor: context-menu;
}

.in-header h1, .in-header a {
    width: 50%;
    display: block;
    font-size: calc(13px + 0.8vw);
    padding: calc(20px + 0.5vw) calc(20px + 1vw);
    margin: auto 0;
}

.in-header h1, .in-header a:hover, .message, .title {
    color: #1ab26b;
}

.in-header a:hover, .album-actions > div:hover {
    background-color: rgb(46, 46, 46);
    transition: 0.5s;
}

.in-header a {
    text-align: right;
    cursor: pointer;
}

nav {
    display: block;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}
nav li {
    display: inline-block;
}

nav a {
    font-size: calc(12px + 0.5vw);
    cursor: pointer;
    padding: 0.5vw 1vw;
    display: block;
}
nav .years {    
    overflow: auto;
}
nav .months {
    display: none;
}
nav .selected-month {
    display: inline-block;
}


.in-main {
    padding: 2.4vw;
}

.message, .title {
    font-size: calc(12px + 0.7vw);
    margin-bottom: calc(5px + 1vw);
    text-transform: uppercase;
}
.title {
    letter-spacing: 3px;
}

.login-button {
    display: inline-block;
    margin-top: calc(5px + 1vw);
    padding: calc(2px + 0.5vw);
    cursor: pointer;
    font-size: calc(12px + 0.5vw);
}
.login-button i {
    margin-right: calc(3px + 0.3vw);
}
.login-button:hover, .login-button:hover i {
    color: #1ab26b;
    background-color: rgb(8, 8, 8);
    transition: 0.4s;
}

.album {
    padding: calc(5px + 1vw);
    margin-top: calc(5px + 1vw);
    cursor: pointer;
}
.album:hover {
    background-color: rgb(56, 56, 56);
}
.album-flex {
    display: flex;
}
.album-info * {
    margin-bottom: 1vw;
    text-align: left;
}
.album-info *:last-child {
    margin-bottom: 0;
}

.album img {
    max-width: 100%;
    max-height: 100%;
}

.album-img {
    margin-right: calc(5px + 1vw);
    min-height: 85px;
    min-width: 85px;
    height: calc(70px + 3.5vw);
    width: calc(70px + 3.5vw);
}
.album-info {
    display: inline;
}

.album h2 {
    font-size: calc(13px + 0.8vw);
}
.album h3 {
    font-size: calc(12px + 0.7vw);
}
.album-info p {
    font-size: calc(11px + 0.6vw);
}

.album-player {
    margin-top: 1vw;
    height: calc(100px + 50vw);
    max-height: 400px;
    width: 100%;
}

.top {
    width: calc(50px + 0.5vw);
    height: calc(50px + 0.5vw);
    border-radius: 100%;
    cursor: pointer;
    color: white;
    background-color: rgb(76, 76, 76);
    border: 0;
    position: fixed;
    bottom: calc(10px + 2vw);
    right: calc(10px + 2vw);
    display: none;
    padding: 0;
}
.top:hover {
    background-color: rgb(86, 86, 86);
}
.top i {
    font-size: calc(15px + 0.5vw);    
}

footer p {
    text-align: center;
    padding: calc(10px + 1vw) 0;
}

@media screen and (max-width: 1000px)
{    
    main {
        min-height: 150px;
    }
    .in-body {
        width: 100%;
    }
    nav a {
        padding: 10px 15px;
    }
}
@media print {
    * {
      background: white !important;
      color: black !important;
    }
    header, footer {
        display: none;
    }
    .in-body {
        width: 100%;
    }
}