* {
    box-sizing: border-box;
  }

body {
    background: white;
	font: normal 13px Verdana, Arial, lucida, sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 1280px;
    list-style-type: none;
}

li {
    float: right;
    }

nav ol {
    margin: 0;
    list-style-type: none;
}

li a {
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: black solid 1px;
    }
 
nav ul li:hover, .active {
    background-color: #d9f2d9;
}

.box {
    margin-top: 75px;

}

.borders {
    width: 85%;
    border: none;
}    

.border-treneri {
    width: 100%;
    border: none;
    background-color: #d9f2d9;

}

.fotogalerie-reklama{
    padding-left: 0px;
}
.fotogalerie-reklama img {
    border: 1px solid #ccc; 
    padding: 2px;
    margin-right: 10px;  
    }

.gallery img {
    border: 1px solid grey;
    padding: 6px;
    box-shadow: 3px 3px 6px #999999;
    margin-right: 6px;
    background-color: white;
}

.oteviracidoba table{
    width: 350px;
    margin-top: 1px;
    line-height: 130%;
    text-align: left;
}

.footer {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    color: black;
    background-color: #d9f2d9;
}




