    * {
        box-sizing: border-box;
    }
    
    body {
        background-color:white;
    }
    
    .logo {
        width: 100px;
        height: 100px;
        margin-bottom: auto;
        margin-top: auto;
    }

    header { 
        display: flex; 
        background-color: white;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }

    nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        margin-top: auto;
        margin-bottom: auto;
    }

    nav li {
        display: block;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        border-radius: 5px;
        margin-left: 10px;
        margin-bottom: 22px; 
    }

    nav a {
        text-decoration: none;
    }
    
    .left a{
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        color: black;
        font-style: normal;
        font-size: 20px;
        padding: 10px;
    }
    
    .left a:hover{
        color: black;
        background-color: rgba(255, 0, 0, 0.664);
        border-radius: 5px;
    }
    
    nav a:hover {
        background-color: rgba(255, 0, 0, 0.664);
        color: white;
        border-radius: 5px;
    }

    #active:hover{
        color: white;
        background-color: rgba(255, 0, 0, 0.664);
        border-radius: 5px;
    }

    #active {
        background-color: #2451b3;
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
    }
    
    nav a {
        color:#2451b3;
        padding: 10px;
    }

    h1 {
        background-color: rgba(0,0,0,0.5);
        color: white;
        text-align: center;
        font-size: 40px;
        margin-top: 0px;
        margin-left: 80px;
        margin-right: 80px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .left ul {
        padding-left: 0px;
    }
    
    .name {
        background-image: url('../img/background.jpg');
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
        background-position: center;
    }

    .content {
        display: flex;
        flex-direction: row-reverse;
        border-top-style: solid;
        border-top-width: 2px;
        padding: 15px;
        max-width: 100%;
    }
    
    .left {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        min-width: 45%;
        padding-left: 30px;
        border-left-style: solid;
        border-left-width: 2px;
    }
    
    .left li{
        display: block; 
    }
    
    h2 {
        text-align: center;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }

    .subtitle {
        background-color: rgba(0,0,0,0.5);
        color: white;
        margin-left: 80px;
        margin-right: 80px;
    }
    
    p {
        text-align: justify;
        color: rgba(0, 0, 0);
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    main {
        margin-top: 20px;
        padding: 10px;
        padding-right: 30px;
        min-width: 55%;
    }
    
    footer {
        display: flex;  
        flex-wrap: wrap;
        background-color: #5371b5;
        border-top-style: solid;
        border-top-width: 2px;
        padding-bottom: 10px;
    }
    
    .social {
        min-width: 230px;
        border-style: ridge;
        border-width: 2px;
        border-radius: 5px;
        border-color: #5371b5;
        background-color: white;
        margin: auto;
    }
    
    .social a{
        text-decoration: none;
    }
    
    .logoSocial {
        margin: 5px;
        width: 64px;
        height: 64px;
    }
    
    h3 {
        text-align: center;
        color: black;
        font-size: 20px;
        line-height: 45px;
    }
    
    .copyright {
        min-width: 100%;
    }
    
    .copyright h3{
        color: white;
        text-align: center;
    }
    
    li article {
        border-top-style: dotted;
        border-top-width: 2px;
    }

    .column {
        max-width: calc(100%/3);
        padding-left: 10px;
        padding-right: 10px;
    }

    .columns {
        display: flex; 
        flex-wrap: wrap;
    }

@media print {
    * {
        background-color: white;
        color: black;
    }

    .name {
        padding: 0;
    }

    header {
        display: none;
    }

    footer{
        display: none;
    }
}

@page {
    margin-bottom: 3cm;
    margin-top: 3cm;
}

@media screen and (max-width: 650px) {
    nav li {
        font-size: 20px;
        margin-right: 0px;
        max-width: 100%;
        min-width: 51%;
        width: 250px;
    }

    nav {
        float: none;
    }

    .content {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .columns {
        display: block; 
    }

    .column {
        max-width: 100%;
    }

    .left {
        margin-top: 10px;
        margin-bottom: 10px;
        min-width: 100%;
        border-left-style: none;
        border-top-style: solid;
        border-top-width: 2px;
        padding-left: 0px; 
    }

    main {
        margin-top: 10px;
        margin-bottom: 10px;
        min-width: 100%;
        padding-right: 0px;
    }

    h2 {
        min-height: 0px;
    }
}
