    body {
        background-color: #5371b5;
    }
    
    header {
        display: flex;  
        background-color: #5371b5;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    
    nav li {
        display: block;
        float: left;
        margin: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        border-radius: 5px;
    }
    
    .left a{
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        color: white;
        font-style: normal;
        font-size: 20px;
    }
    
    .left a:hover{
        color: #5371b5;
        background-color: white;
    }
    
    nav a:hover {
        background-color: white;
        color: #5371b6;
    }
    
    nav a {
        color: white;
    }
    
    h1 {
        background-color: #5371b6; 
        color: white;
        text-align: center;
        margin: 20px;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .content {
        display: flex;
        border-top-style: solid;
        border-top-width: 2px;
    }
    
    .left {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        min-width: 33%;
        padding-right: 30px;
        border-right-style: solid;
        border-right-width: 2px;
    }
    
    .left li{
        display: block; 
    }
    
    h2 {
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
    }
    
    p {
        text-align: justify;
        color: rgba(255, 255, 255, 0.8);
    }
    
    .center {
        margin-top: 20px;
        padding: 10px;
        padding-left: 30px;
    }
    
    footer {
        display: flex;  
        background-color: #5371b5;
        border-top-style: solid;
        border-top-width: 2px;
        position: relative;
    }
    
    .social {
        position: absolute;
        width: 230px;
        left: 45%;
        border-style: ridge;
        border-width: 2px;
        border-radius: 5px;
        border-color: #5371b5;
        margin-top: 60px;
        margin-bottom: 20px;
        background-color: white;
    }
    
    .social a{
        text-decoration: none;
    }
    
    .logoSocial {
        margin: 5px;
        width: 64px;
        height: 64px;
    }
    
    h3 {
        text-align: center;
        color: #5371b5;
        font-size: 15px;
    }
    
    .copyright {
        position: absolute;
        left: 45%;
        width: 230px;
        max-height: 20px;
        margin-bottom:20px;
        margin-top: 20px;
        color: white;
        font-size: 20px;
        text-align: center;
    }
    
    li article {
        border-top-style: dotted;
        border-top-width: 2px;
    }


@media screen and (max-width: 780px) and (min-width: 650px) {
    .left {
        min-width: 40%;
    }

    .copyright {
        position: absolute;
        left: 35%;
        font-size: 12px;
        margin-top: 10px;
    }

    .social {
        left: 42%;
        margin-top: 50px;
        width: 130px;
        margin-top: 30px;
    }

    .logoSocial {
        margin: 5px;
        width: 30px;
        height: 30px;
    }

    body {
        font-size: 8px;
    }

    h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 11px;
    }

    .left a {
        font-size: 11px;
    }

    nav li {
        font-size: 9px;
        margin: 8px;
        line-height: 33px;
    }

    .logo {
        width: 200px;
        height: 66px;
    }
}

@media screen and (max-width: 650px) {
    nav li {
        font-size: 6px;
        margin: 4px;
        line-height: 22px;
    }

    body {
        font-size: 7px;
    }

    .logo {
        width: 150px;
        height: 55px;
    }

    .left {
        min-width: 40%;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 12px;
    }

    h3 {
        font-size: 7px;
    }

    .left a {
        font-size: 8px;
    }

    .copyright {
        position: absolute;
        left: 30%;
        font-size: 8px;
        margin-top: 10px;
    }

    .social {
        left: 38%;
        margin-top: 50px;
        width: 130px;
        margin-top: 20px;
    }

    .logoSocial {
        margin: 5px;
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 780px) {
    nav li {
        font-size: 11px;
        margin: 7px;
        line-height: 44px;
    }

    .logo {
        width: 250px;
        height: 88px;
    }

    body {
        font-size: 11px;
    }

    .left {
        min-width: 35%;
    }

    .copyright {
        position: absolute;
        left: 36%;
        font-size: 11px;
        margin-top: 10px;
    }

    .social {
        left: 40%;
        width: 160px;
        margin-top: 30px;
    }

    .logoSocial {
        margin: 5px;
        width: 40px;
        height: 40px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 13px;
    }

    .left a {
        font-size: 13px;
    }
}

@media print {
    * {
        background-color: white;
        color: black;
    }

    .logo {
        width: 150px;
        height: 66px;
    }

    nav li {
        font-size: 10px;
        margin: 5px;
        line-height: 33px;
    }

    .copyright {
        position: absolute;
        left: 36%;
        font-size: 11px;
        margin-top: 10px;
    }

    .social {
        left: 40%;
        margin-top: 50px;
        margin-top: 30px;
    }
}
