* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form {
    background-color: #CFD8DC;
    border-radius: 2px;
    padding: 2rem;
    margin: 3rem;
    width: 30%;
}

.table {
    width: 100%
}

.table tr td:first-child {
    text-align: left;
}

.input,
.button,
.textarea {
    width: 100%;
    border-radius: 2px;
    border: none;
    padding: 0.5em;
}

.button {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 1em;
    margin: 1em;
    background-color: #03A9F4;
    color: #fff;
}

.button:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}