html, body {
  height: 100%;
  background-color: rgb(248, 248, 248) ;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 5px;
  font-weight: 900;
}

.right {
  float:right;
}

.layout {
  max-width: 1320px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

footer {
  margin-top:200px;
  padding-bottom:1px;
}

header {
  background-color: #303030;
  margin: 0 auto;
  overflow:auto; 
  z-index: 1000;
}

header .logo {
  position:relative;
  float: left;
  overflow: visible;
  margin: 8.5px 0;
}

header ul {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: block;
  list-style: none;
  padding: 0px;
  overflow: hidden;
  margin:0;
  float: right;
  height: 100%;
}

header ul li{
  float:left;
  transition : border 200ms ease-out;
}

header ul li:hover{
  background-color: #0c0c0c;
  /* transition: border-color 1s ease;  */
}

header ul li.active {
  background-color: #009700;
}

header ul li a {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 1.2em;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
}

.menuList {
  height: 100%;
  float: right;
}

header .icon {
  display: none;
}

main {
  background-color: rgb(248, 248, 248);
  padding-top: 50px;
}

.full_width {
  display: block;
  clear: both;
  overflow: visible;
  font-size: 1.0em;
}

.full_width p {
  max-width: 900px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px;
}

.video-title{
  font-size: 1.5em;
  margin-bottom: 10px;
}

footer .full_width {
  margin: 20px auto;
  padding-top:20px;
  font-size: 0.8em;
  border-top: 1px solid #dbdbdb;
}

footer .internal {
  width: 960px;
  border-top: 1px solid #dbdbdb;
  margin: 0 auto;
}

footer a {
  color: rgb(0, 0, 0);
}

.full_width img{
  width: 100%;
  height:auto;
}

.kalkulacka{
  background-color: #ededed;
  max-width: 500px;
  height: 1100px;
  position: relative;
  border-radius: 10px;
  padding: 50px;
  margin: 0 auto;
  box-shadow: 0 0 25px #BBB;
  font-size: 1.5em;
}

.kalkulacka label input{
  font-size: 0.7em;
  margin: 0;
}

.kalkulacka img {
  position: absolute;
  width: 300px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kalkulacka .text {
  position: absolute;
  max-width: 600px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: 900;
  text-align: center;
}

.input_error {
  font-size: 0.7em;
  color: #ff2525;
  margin: 0 0 15px 0;
}

.contact-information {
  font-size: 1.1em;
  font-weight: 300;
}

.google-map {
  width: 100%;
  height: 500px;
  border: 0;
}

.one_half, .one_third, .two_third, .one_quarter,
.two_quarter, .three_quarter {
    display: inline;
    float: left; 
    margin: 0 0 0 3.125%;
    list-style: none;
}

.first {
    margin-left: 0;
    clear: left;
}

.one_third {
  width: 31.25%;
  position: relative;
}

.two_third {
  width: 65.625%;
  position: relative;
}

.one_quarter {
  width: 21.875%;
  position: relative;
}

.separator{
  height: 100px;
}


a .image-box-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-weight: 400;
  transition:0.5s;
}

a:hover .image-box-icon {
  top: 20%;
}

a .image-box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 2em;
  opacity:0;
  transition:0.5s;
}

a:hover .image-box-text {
  top: 45%;
  opacity:1;
}

a .image-box-description{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 1.2em;
  width: 80%;
  opacity:0;
  transition:0.5s;
}

a:hover .image-box-description {
  top: 70%;
  opacity:1;
}


.logo-print {
  display: none;
}

/* FORM STYLES */
input[type="text"],
input[type="datetime-local"] {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin: 0 0 20px 0;
	border: 1px solid #ccc;
	padding: 20px;
	color: #555;
	font: 1em Arial, Helvetica, sans-serif;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus
{
  border: 1px solid #3B3;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio-group label {
  color: #000000;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 20px 0;
  width: calc(100%/3 - 4px);
  float: left;
  text-align: center;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  outline: 1px solid #CCC;
  margin: 2px;
}

input[type=radio]:checked + label{
  color: #ffffff;
  background: #009700;
}

input.empty {
  border: 1px solid red;
}

.radio-group {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  font-size: 0.7em;
}

.kalkulacka .full_width {
  width: 100%;
  overflow: visible;
}

.kalkulacka .half_width {
  width: 50%;
  overflow: visible;
  float: left;
}

#result_price{
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 30px;
}

/* checkbox */
.checkbox_container {
  display: block;
  position: relative;
  padding: 13px 0 15px 65px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  font-size: 0.7em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #ccc;
}

.checkbox_container:hover input ~ .checkmark {
  background-color: #bbb;
}

.checkbox_container input:checked ~ .checkmark {
  background-color: #009700;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox_container .checkmark:after {
  left: 16px;
  top: 9px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox_title {
  position: absolute;
  margin: 12px 0;
}

tr:nth-child(even){background-color: #f2f2f2}
th, td {
  text-align: left;
  padding: 8px;
}
table {
  border-collapse: collapse;
  margin: 30px
}
th {
  background-color: #009700;
  color: white;
}

@media screen and (max-width: 1010px) {
    header ul li {
      float:none;
    }
    header {
      width: 100%;
      position: fixed;
    }
    .menuList, .menuList ul {
      width: 100%;
    }
    .menuList ul li a {
      display: none;
    }
    .menuList a.icon {
      float: right;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    .menuList.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .layout {
      padding: 0 25px;
    }
    a .image-box-text{
      font-size: 1.1em;
    }
    a .image-box-description{
      font-size: 0.9em;
    }
}

@media screen and (max-width: 1100px) {
  a .image-box-text{
    font-size: 1.5em;
  }
  a .image-box-description{
    font-size: 1em;
  }
}

@media screen and (max-width: 900px) {
  a .image-box-text{
    font-size: 1.3em;
  }
  a .image-box-description{
    font-size: 0.9em;
  }
  footer {
    margin-top:50px;
  }
}

@media screen and (max-width: 840px) {
  a .image-box-text{
    font-size: 1.1em;
  }
  a .image-box-description{
    font-size: 0.8em;
  }
  a:hover .image-box-icon {
    opacity: 0;
  }
  a:hover .image-box-text {
    top: 20%;
  }
  a:hover .image-box-description {
    top: 60%;
  }
}

@media screen and (max-width: 700px) {
  a .image-box-text{
    font-size: 1em;
  }
  a .image-box-description{
    font-size: 0.7em;
  }
}


@media screen and (max-width: 600px) {
  .one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter {
    display: block;
    float: none;
    width: auto;
    margin: 0 0 2% 0;
    padding: 0;
  }
  .layout {
    padding: 0 15px;
  }
  a .image-box-text{
    font-size: 2.5em;
  }
  a .image-box-description{
    font-size: 1em;
  }
  .kalkulacka{
    padding: 20px;
  }
}

@media print {
  header, footer {
    display:none;
  }
  .layout{
    margin: 0;
    padding: 0;
  }
  .logo-print {
    display: initial;
    width: 30%;
  }
  a .image-box-description {
    color: #000000;
    top: 75%;
    opacity:1;
    font-size: 0.8em;
  }
  a .image-box-text {
    color: #000000;
    top: 45%;
    opacity:1;
    font-size: 1.2em;
  }
  a .image-box-icon {
    color: #000000;
    top: 15%;
    font-size: 0.7em;
  }
  .one_quarter a img, .one_third a img {
    opacity: 0.0;
    filter: alpha(opacity=0);
  }
  .video-container, .video-title {
    display: none;
  }

  .kalkulacka {
    height: 750px;
  }
  .kalkulacka h2, .kalkulacka input, .kalkulacka .radio-group, .kalkulacka .checkbox_title {
    font-size: 0.7em;
  }
  .kalkulacka #result_price{
    font-size: 1em;
  }
  .kalkulacka input {
    padding: 10px;
  }
}