.dummyClassColorPalette {
    color: #E95241;
    color: #066ACC;
    color: #B4B8E5;
    color: #C0DED2;
    color: #0437B6;
    color: #C30011;
    color: #002868;

    color: hsl(130, 30, 40);
    color: hsl(130, 30, 46);
    color: hsl(130, 30, 52);

    color: hsl(130, 30, 58);
    color: hsl(130, 30, 64);
    color: hsl(130, 30, 70);

    color: hsl(130, 30, 76);
    color: hsl(130, 30, 82);
    color: hsl(130, 30, 88);

    color: hsl(130, 30, 100);
}

#map {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: center;
    align-content: stretch;
}

.mapItem {
    margin: 5px;
    border: 1px solid #C30011;
    text-align: center;
    font-size: small;
    padding: 5px;
    height: 20px;
    width: 70px;
    flex-grow: 1;
    text-overflow: ellipsis;
    display: block;
    white-space: pre;
    overflow: overlay;
}

#appContainer {
    flex-flow: row wrap;
    padding: 15px;
    justify-content: center;
    align-items: flex-start;
}

.flexColumn {
    display: flex;
    flex-flow: column wrap;
    padding: 15px;
    justify-content: center;
    align-items: flex-start;
}

label {
    display: block;
    padding: 15px;
    margin: auto;
    text-align: center;
    font-size: 2em;
}

#vocab {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 100%;
    list-style: none;
}

#vocab * {
    border: solid 1px blue;
    padding: 15px;
    margin: 10px;
}

select {
    padding: 10px;
    font-size: 20px;
    flex-grow: 2;
}

#practiceButton {
    background-color: #C30011;
    border: none;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    max-width: 100%;
    min-height: 2.5em;
    flex-grow: 1;
}

#flashcard {
    border: 2px solid black;
    min-height: 100px;
    max-width: 100%;
    box-sizing: border-box;
}

#flashcard button {
    min-width: 70px;
    margin: 2px;
}

.disabled {
    display: none;
}

#forgot {
    background-color: red;
}

#hard {
    background-color: orange;
}

#good {
    background-color: green;
}

#easy {
    background-color: cornflowerblue;
}

.loader {
    display: inline-block;
    transform: translateZ(1px);
}

#loader2 {
    display: none;
}

.loader>div {
    display: inline-block;
    background: transparent;
    animation: loader 2.4s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    text-align: center;
    color: #C30011;
    font-size: x-large;
    text-decoration: none;
    /*border-image: url(flagbig.svg) 60 stretch;*/
    padding: 10px;
    height: 30px;
    width: 130px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

@keyframes loader {

    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
        animation-timing-function: cubic-bezier(0, 0.2, 0.8, 1);
    }

    100% {
        transform: rotateY(360deg);
    }
}