.dummyClassColorPalette{
   color:#E95241;
   color:#066ACC;
   color:#B4B8E5;
   color:#C0DED2;
   color:#0437B6;
   color:#C30011;
   color:#002868;
  
}

/*https://konform.com/cases/danske-rederier*/

.menu_active{
  
color: #C30011;
background-color:whitesmoke;
}


.flexcontainer{
display:flex;
}


body{
   margin:0 auto;
   font-family: sans-serif;
  
}
header{
  background-color:#C30011;
  display:flex;
  flex-direction:column;  
  justify-content: center;
  justify-items: center;
 
}

h1{
font-size: xx-large;
color:whitesmoke;
text-align: center;
margin: 20px 10px 20px 10px;

}


nav{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;

}

nav a{
  text-align: center;
  color: whitesmoke;
  font-size: x-large;
  text-decoration: none;
  border: solid whitesmoke 1px;
  /*border-image: url(flagbig.svg) 60 stretch;*/
  padding: 10px;
  
  height: 30px;
  width:  130px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  flex-grow: 1;
  transition: background-color 0.2s; 

}

nav a:hover {
 /* animation-name: example;
  animation-duration:0.2s;
  background-color: rgba(250,100,100,0.5);
  */
  color:whitesmoke;
  background-color: rgba(250,100,100,0.5);
}

nav a:active {
    background-color: rgba(250,100,100,0.5)
}

a.inline{
  color: #002868;

  
}



.containmiddle{
  align-self: center;
  max-width: 860px;
  }



p{
  padding: 15px 0px;
  text-align: justify;
  font-size:  16px;
 
}

.imageInFlex{
 margin:15px; 
  max-width: 100%;
  display: block;


}

li{
  padding-bottom:10px;
  
  
}

ul{
  padding-right: 40px;
  
}

.noBullet{
  list-style-type: none;
}
.flexList{
  margin:0;
  padding-left:20px;
}

ul h2{
  margin-bottom: 15px;
  margin-top:15px;

}

.reasons{
  margin-top:15px;
}

.reasons p, .reasons h2{
  margin: auto 20px auto 20px;
}


ul li.star::before {
  content: "★";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: navy; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1.2em;
  margin-left: -1.2em; 
  
}

#toggleHamburger{
  display:inline-block;
  padding:0;
  margin:0;
  border:0;
  color:red;
  transition: 1s;
}

ul.sidenav li{
  padding:10px;
  height:20px;
  color:white;
  list-style-type: decimal;
  font-weight: bold;
  margin:5px;
  border-radius: 5px;
  margin-left:15px;
  min-width:300px;
  max-width:500px;
  
}

ul.sidenav li:nth-child(1){
  background-color:crimson;;
}
ul.sidenav li:nth-child(2){
  background-color:orange;
}
ul.sidenav li:nth-child(3){
  background-color:green;
}
ul.sidenav li:nth-child(4){
  background-color:cornflowerblue;
}
ul.sidenav li:nth-child(5){
  background-color:purple;
}
ul.sidenav li:nth-child(6){
  background-color:grey;
}


main{
  max-width: 810px;
  margin:auto;

}

footer{
  background-color:navy;
}

.forYourMoney div{
  height:auto;
  color:white;
  font-size: 20px;
 
  padding: 10px 10px;
  margin: auto 15px;
  border-radius: 5px;
  margin:15px;
}

.forYourMoney div:nth-of-type(1){
  background-color:navy;
  margin-bottom:0;

}
.forYourMoney div:nth-of-type(2){
  background-color:#C30011;
  margin-top:15px;
}
.forYourMoney div:nth-of-type(3){
  background-color:navy;
}
.forYourMoney div:nth-of-type(4){
  background-color:#C30011;
}
.sidenav {
  height: 0px;
  width: 100%;
  position: relative;
  /*z-index: 1;*/
  top: 0;
  left: 0;
  background-color:white;
  overflow-y: hidden;
  transition-duration: 1s;
  margin:0 auto;
  font-size: 20px;
}

/* ************************************************************************************;
/*ultra small devices - iPhone SE and similarly tiny phones - 360 and lower*/
@media only screen and (max-width: 360px) {
  img{
    float: none;
    height: auto;
    margin: auto;
  }

  h1{
    font-size:x-large;
  }

  nav a{
    font-size:large;
    height: 20px;
    width:  80px;

  }
} 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 

  h1{
    font-size:xx-large;
  }

  p{
    max-width: 90%;
    margin:auto;

  }
  ul{
      clear: both;

  }
  
  .imageLeftFloat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom: 10px;
    float: none;
  }
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
nav a{
width: 117px;
font-size: x-large;

}
} 

