* {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: grey;
}

h1 {
    font-family: 'MedievalSharp';
    width: 100%;
    background-color: rgb(121, 32, 32);
    margin-top: 0;
}

button {
    border-radius: 10px;
}
.randomText {
    font-family: 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
    top: 0px;
    right: 50%-width;
}

.textBox {
    float: right;
    height: 500px;
    width: 20%;
    margin: 10px auto;
    border: 1px black solid;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
    background-color: rgb(255, 255, 255);
    background-image: url("../img/lion.png");
    background-position: bottom;
    background-size: 50%;
    background-repeat: no-repeat;
}

#map {
    height: 500px;
    width: 60%;
    margin: 10px auto;
    border: 1px black solid;
    padding: 10px;
    float: left;
    margin-left: 8%;
}

#coors {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

#coors:hover {
    background-color: bisque;
}

.card {
    width: 100px;
    height: 100px;
}

.card-header {
    font-family: 'MedievalSharp', 'Arial Narrow', Arial, sans-serif;
}

.card-body {
    background-image: url("../img/icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
    width: 40px;
    height: 40px;
}
