@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.container {
    position: relative;
    width: 80%;
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
}












/* ****** Header ****** */

.container_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
}

header {
    display: grid;
    align-items: center;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    min-height: 80px;
}

.main_logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.book_name {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
    margin-right: 10px;
}

.author_name {
    color: rgb(153, 153, 153);
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    white-space: nowrap;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-auto-flow: row dense;
}

.menu a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
    min-width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.active_menu_item {
    background-color: rgba(0, 0, 0, 0.2);
}

/* ###### Konec Header ###### */


.button {
    
	background-color:#ff1208;
	border-radius:7px;
	border:1px solid #c20024;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:15px 76px;
    text-decoration:none;
    text-align: center;
}
.button:hover {
    background-color:#ff3029;
    
}








































@media only screen and (max-width: 1000px) {
    .container_header {
        grid-template-columns: 1fr;
    }
    .main_logo {
        justify-content: center;
        margin: 20px 0px;
    }
    .menu a {
        min-width: auto;
        height: 50px;
    }

}

@media only screen and (max-width: 600px) {
    .menu {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin: 20px 0px;
    }

}