h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color:green;
}

h2 {
    color: bisque;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
body {
    color: aqua;
    margin: 0%;
}

a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

footer {
    color: blueviolet;
    font-family: fantasy;
    font-size: 30px;
} 

form {
    position: relative;
}